<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THE AFRICAN CHILD</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/bwambale1.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Binepe Lhwanzo Bwambale
                                </span>
                                <img class="img-fluid" src="images/bwambale1.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>
                    <div class="row padding">
                        <p>
                            <span style="float: left;  font-size: 500%; line-height: 90%;">A</span> blanket of deception has tightly coiled around the minds of most, enchaining them into modern day slavery! Unless we are unlocked by the truth, we are deemed to Doom. We are indeed deemed to doom as we scream “coming home, coming home, coming home” as Italy raises the Euro Cup. It's now absolutely clear that we have forgotten our true home.
                        </p>
                        <img class="img-fluid" src="images/eurocupitaly.jpg" alt="image" style="">
                        
                        <p>
                            The once beautiful a place with lovely sceneries; massive topography, wonderful beings, short, tall, handsome and beautiful in their own Melanin! The once beautiful a society, with innocent people endowed with great culture has now turned into a ram shackled society bleeding and yelling for help.
                        </p>
                        <p>
                           We lost our identity, we lost our ability to reason, we lost our culture; our great ancestors bled and died but still lost it all. Our history has been erased, our civilization rubbished and a new history written to enchain the African mind.
                        </p>
                        <p>
                            I cry unto you all, wake up, wake up and let's rewrite our history; let us restore our culture, let's be proud of our home – Africa the motherland.
                        </p>                        
                        <p>
                            Our history has been shaped by the master; our thinking manipulated and distorted to look at African history, culture and society as evil, barbaric and uncivilized.
                        </p>

                        <img class="img-fluid" src="images/mancows.jpg" alt="image" style="">
                        <p>
                            Today an African child has been made to believe that an African man living in amanyata (grass thatched house) with 200 cows, 4 women and 20 kids is poor and uncivilized whereas; one who owns a pair of Gucci shoes and a Louis Vuitton handbag, as their only possession is considered wealthy and civilized.            
                        </p>
                        <img class="img-fluid" src="images/kitenge1.jpg" alt="image" style="">
                        
                        <p>
                           Young boys and girls have no more pride in Africa and its products! We prefer KFC chicken to our local prepared healthy chicken. We sing the praises of teams from Italy, England, Manchester United and demean our own Uganda Cranes. African Kitenge fashion is traditional and local! We have been swallowed into the race to own Balenciaga shirts and end up depressed over Instagram likes, a generation with smiling pictures but broken hearts. What a lost generation! 
                        </p>
                        <img class="img-fluid" src="images/sad.jpg" alt="image" style="">
                        <p>
                            Unless we awaken and learn to find our own values and meaning to life, we are doomed! Let us demonstrate that we have faith in ourselves and in our home – Africa. This is the mother continent; home to all the civilization today. We are not Africans by the fact that we live in Africa, we are Africans because africanicity flows in our blood, let's make her proud again.
                        </p>
                        <p>
                            Why drown, trying to cross the Mediterranean Sea into modern day slavery, when we have a lot of resources here? Let us make our own home; let us use our resources, let us make our own medicines and vaccines like Professor Ogwang, and let us make our own toothbrushes for God’s sake
                        </p>
                        <p>
                            It's time my fellow young people, it's time; the return of consciousness is here, let us unlock the mind of the African child, Africa is home! Africa is home.
                        </p>
                        <p>
                            Written by: BINEPE LHWANZO BWAMBALE
                                                                                  
                                <br>
                                - Class Coordinator, BSc. Public Health, Year 2
                                <br>
                                - President BALUSA
                                <br>
                                - Founding Member, AYLF Lira Chapter
                                <br>
                                - Debate President, Lira University Debate Society.
                                <br>
                                - Deputy National Coordinator, Uganda University Debate Presidents Council
                                <br>
                                - Vice President Internal Affairs, FUPHESA – Federation of Uganda Public Health Students Association
                                <br>
                                - 0778454134 / 0702248438                                                         
                                <br>
                                - <span style="font-weight: bold;">binepebwambale@gmail.com</span>                           
                            </p>
                        </p>              
                    </div>              
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>