<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;"> CHECK ON YOUR FRIENDS </h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/g.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by Aron Eryau
                                <img class="img-fluid" src="images/aa.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>
                    <div class="row padding">
                        
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">W</span>e live in a world where there
                                is endless scrolling, typing, likes and emoji. Communication has been made easy, life is so much
                                better with twitter, Facebook, Instagram filters and so on. People rarely use pen and paper to write
                                to lovers anymore; which I think is kind of old school and romantic, but the truth is we never
                                really bond anymore.
                            </p>
                            <p>
                                Instead, most people find themselves in a position of comparison and competition. We become so
                                fascinated and taken by how many likes; how many comments, those blue ticks and the “Joyce typing”
                                screen.
                            </p>

                            <p>
                                Did you know the brains of people who report compulsive urges to use social networking sites like
                                Facebook show some brain patterns similar to those found in drug addicts? That is an addiction too
                                but we don’t recognize it! And before we know it, we are never alone but always lonely; the answer
                                to “how are you?” is forever “I am fine” even when we are not.
                            </p>
                            <p>
                                Being lonely and not being able to share what you feel with people who will not just hear but
                                listen; who will not just comment and add an emoji but understand, has sent many down the lane of
                                depression.
                            </p>
                            <p>
                                The funny thing about depression in this generation is that the people with very gloomy faces like
                                that of former president Tito Okello – (I’ve always wondered why in history there is no picture of
                                that guy smiling in public) – aren’t really depressed; but those who wear the biggest smiles in
                                public, are the very people fighting this monster.
                            </p>
                            <p>
                                Some are lucky to come out victorious but many have travelled to suicide lane. You ever wonder why
                                many celebrities who seem to have it all suffer a lot from depression!
                            </p>
                        
                        
                            <p>
                                When people talk about depression, we might think it’s a distant idea. But the truth of the matter
                                is that University students are even all the more prone to mental health issues!
                            </p>
                            <p>
                                Just look at the endless cycles of stress; academics, relationships, trying to fit in, maybe you got
                                some from home too! Yet most of us don’t really know how to handle these and slowly we slide into
                                depression and live in denial.
                            </p>
                            <p>
                                This century needs psychotherapists more than ever before! It is a little comforting that there is
                                therapy, now you just have to find what works for you. Some pastors say it’s a demon that needs to
                                be cast out, just like the spirit of poverty!
                            </p>
                            <p>
                                But with poverty, all you need to do is work hard and stop saying I receive. Anyways the point is;
                                if praying is what works for you – which I believe it does, be it seeing a therapist; you need to
                                know that it is hard work! Commitment is key! But eventually; you will, smile, truly, once again.
                            </p>
                            <p>
                                Having some time off the screens; taking those small walks with a friend, trying new things or
                                hobbies with a partner, star gazing on beautiful moon lit star filled nights with that friend, or
                                anything that makes you find connection, helps us bond and create safe spaces where we can share our
                                deepest fears.
                            </p>
                            <p>
                                Always check on your friends, folks; never assume they are alright.
                            </p>
                            <p>
                                For the CampusWeekly, I am Aron Eryau.
                            </p>


                    </div>       
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>




    
  