<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THE CHIEF FRESHERS’ DEBATE!</h1>
                    <div style="margin-bottom: 10px ;">
                        <img class="d-block w-100" src="images/debate2.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">H</span>appening on Friday, 16th
                                April, 2021 just two days to the Elections day, Sunday, 18th April, 2021; the Chief Freshers’ Debate
                                was organized by the Lira University Debate Society in partnership with the African Youth Leadership
                                Forum (AYLF) – Lira University Chapter.
                            </p>
                            <p>
                                The all famous EMBA room – Management Sciences was graced with the presence of three very renowned
                                academicians. And these were the adjudicators for the day. Mr. Ekung Emmanuel, who was the Guild
                                President Lira University 2018/2019, now working in the Dean’s Office, also the Chief Adjudicator!
                            </p>

                            <p>
                                Ms. Nabawanuka Brenda, a lecturer and the Incharge – Medical Ward of the Lira University Teaching
                                Hospital. And finally, Mr. Munu Jude Milton, the current Chief Fresher. The Chief Guest, Ms. Aceng
                                Emma, the Dean of Students unfortunately couldn’t make it in person, passing on her message to all
                                present through the Chief Adjudicator.
                            </p>
                            <p>
                                Also, expected in attendance were Dr. Ocen Laury Lawrence, a renowned Author of great literature in
                                his field of speciality and Ms. Asiimwe Mary Goretti, the Incharge – Pediatric Ward at the
                                University Teaching Hospital, also the Patron – AYLF, Lira Campus Chapter.
                            </p>
                            <p>
                                These were to oversee and guide the formal debate between the contesting candidates for the post of
                                Chief Fresher, Mr. Bitarinsha Yoramu and Ms. Nabakooza Elizabeth; two very strong public speakers!
                                Well, majorly because, they are both very active members of both The Debate Society and AYLF.
                            </p>


                        
                            <p>
                                My dear friend, there’s really no better way to portray to you what you missed. It was such an
                                amazing environment, seeing two fresh out of the box leaders going at it with this enthusiasm that
                                was really not from this planet. These are the future leaders!
                            </p>
                            <p>
                                Believe you me, there’s no choosing between who’s a better leader than who! You will just have to
                                vote a Chief Fresher into power, but these two will always remain the strongest of leaders in their
                                regime.
                            </p>
                            <p>
                                Special thanks to the Debate Team, especially the President, Mr. Bwambale Binepe for organizing such
                                an event, nurturing the upcoming leaders to always opt for formal discussions, in all their places
                                of service. This is the new way! This is the right way! Formal Discussions!
                            </p>
                            <p>
                                We only hope that the Debate Society continues to hold such events even for bigger posts in the
                                Guild Cabinet. For the CampusWeekly, I am Lukenge Benard. For the Video Coverage of the session,
                                please visit Our Channel,
                                <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"
                                    style="text-decoration: none;" class=" btn btn-outline-primary">

                                    <i class="fa fa-youtube"></i>&nbsp; The Beacon TV

                                </a>
                                .
                            </p>
                            <p>
                                The Chief Fresher Elections are to be carried out on Sunday, 18th April, 2021, from as early as 7:00
                                am, at Management Sciences right in front of the University Police Post.
                            </p>
                            <p>
                                &copy;LUKARD 
                                <br>
                                <a href="https://twitter.com/WeeklyCampus/status/1383757793518182402" target="_blank"
                                    style="text-decoration: none; ">
                                    <i class="fa fa-twitter-square"></i>
                                    <span style="font-weight: bold;">Story On Twitter</span>
                                </a>
                            </p>
                           

                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Videos at
                        </h4>
                        <p>
                        <div>

                            <a href="https://www.youtube.com/watch?v=emYrW0inIBc" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Nabakooza Elizabeth's Submission

                            </a>
                        </div>
                        and
                        <div>

                            <a href="https://www.youtube.com/watch?v=_TAAbGTLokA" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Mr. Ekung Emmanuel's Remarks

                            </a>
                        </div>
                        </p>
                    </div>                
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>

   