<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">CLIMATE CHANGE ACTIVISM AT LIRA UNIVERSITY (LU)</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/sera.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Kwerit Sarah Chebijirah
                                </span>
                                <img class="img-fluid" src="images/sera1.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>
                    <div class="row padding">
                        <p>
                            <span style="float: left;  font-size: 500%; line-height: 90%;">“</span>In case the world fails to step up climate action, continuing on our current climate trajectory could force 100 million people into extreme poverty by 2030. Africa is the most-exposed region to the adverse effects of climate change despite contributing the least to global warming. If fairness was the only goal, the impetus to act would lie solely with developed economies.”
                        </p>
                        <p>
                            I re-read those lines in a climate change report by Ngozi Okonjo and really felt challenged. We have a huge problem that we contributed so little to; and yet we are to pay the ultimate price. 
                        </p>
                        <p>
                            At the time, it seemed to me that Africa had very little to do to reverse this climate change conundrum. But after understanding the adverse effects we are to face in case of continued inaction, I was completely compelled. To take action! Immediately! However small! We all do. We all need to take action.
                        </p>
                        <p>
                            Joining Lira University (LU) has surely been a blessing. It gave me the opportunity and platform to extend the climate change sensitization to a whole new level.
                        </p>
                        <p>
                             It is, and has been, always my desire to see to it that the world takes the climate change crisis as a serious challenge. And in response, take immediate action to reduce its effects. 
                        </p>
                        <p>
                            It is already evident that throughout the entire country, the public knows disturbingly little or nothing in regards to climate change. 
                        </p>
                        <p>
                            Joining LU, as I like to call it, brought me into contact with a community of extremely enthusiastic youths; willing to do all it takes to create the awareness on climate change and its effects to the country’s population. It is surely a great blessing meeting individuals with such a passion for their environment.           
                        </p>
                        <p>
                           I came to realize that Lira University is really committed to its agenda of both a green campus and facilitation of research to find solutions to this climate crisis.  
                        </p>
                        <p>
                            The Vice Chancellor and his deputy pioneered climate change action at the University. Following the felling of one of the University’s oldest trees to create space for the construction of the administration block, they felt the void; the need, the urge, the compulsion, to plant as many trees as possible to replace this particular tree. 
                        </p>
                        <p>
                            It was just too personal for them, especially for the DVC. My God! You all need to, just once, be an audience to him when he’s narrating this particular story. There is just no way, no way that you can be in his audience and not feel compelled to fight for climate change justice.
                        </p>
                        <p>
                            I was also thrilled to know that the student innovators and the alumni  have been planting a number of key tree species during the previous years under the umbrella of the Lira University Creative Developers Association (LUCDA), patroned by Professor Opio Okaka Dokutum, the Deputy Vice Chancellor(DVC) . 
                        </p>
                        <p>
                            The tree seedlings planted were donated by Professor Jasper Ogwal Okeng, the Vice Chancellor, who together with the University Council members have continuously promoted climate change action at the University.
                        </p>
                        <p>
                            The climate change community at LU has started projects aimed at not only creating awareness but also encouraging and engaging the youth to take action. One of such projects is the “Climate Change Poetry Festival”, an event arranged in such a way that for prizes, students were called and encouraged to come up with some very good poems.
                        </p>
                        <p>
                            In a way, we were encouraging them to carry out research and at the same time sensitizing them. Unfortunately, this was halted by the pandemic. Regardless, we have created social media platforms where we share content on climate change. 
                        </p>
                        <p>
                            Within a short time, we have received many poems and climate change related content. This kind of arrangement has definitely eased our sensitization work. 
                        </p>
                        <p>
                            Another project; one that I have got a special inclination to, is the “Birthday tree project”! This project is interestingly aimed at promoting youth involvement in climate change action – through the planting of trees. 
                        </p>
                        <p>
                            The University students are encouraged to register for trees from the Climate Change community members, and on their birthdays, have them planted in gazetted places availed for this very cause. 
                        </p>
                        <p>
                            This way, the growth of the trees is thereby guaranteed, as these birthday angels will ensure that the trees grow to keep a memory of their special day. It has also increased sensitization amongst the students.
                        </p>
                        <p>
                            I do believe that this group of enthusiastic climate change activists will surely increase climate change awareness in the hotter parts of Northern Uganda and Africa as well.
                        </p>
                        <p>
                            One of the most crucial issues as African advocates for climate change is to sensitize the youth all over the continent about this major problem. And how it will affect them at micro level! 
                        </p>
                        <p>
                            Make no mistake; the big emitters must absolutely step up their domestic climate action, and quickly. But building the new climate economy is also a once in a life time opportunity that every African nation should prioritize and claim a stake in. 
                        </p>
                        <p>
                            The fact that we have an abundance of solar, wind, and geothermal resources; African countries already have a comparative advantage in renewables. That is a good stand.
                        </p>
                        <p>
                            I believe that sensitizing the youth will fuel action for change. Let me break this down: 
                        </p>
                        <p>
                            Political positions in Africa are run based on the majority’s say. People present pressing issues and vote the politicians ready to foster the changes needed. So in a way, politicians are elected followers. 
                        </p>
                        <p>
                            The fact that Africa has a big youth population that makes for most of her voters is definitely something that climate change activists should take advantage of. 
                        </p>
                        <p>
                            These youths need to be sensitized so that they can advocate for climate change by voting people with climate change centered goals. This will surely bring the government to take action. 
                        </p>
                        <p>
                            Until we see climate change as the most urgent global emergency of our time, we will probably never do enough to protect this planet. This is not the time to debate climate change! We are past that stage. 
                        </p>
                        <p>
                            Science facts are pretty clear; the earth is heating up. Africa already has food insecurity. This will only worsen with continued warming. We therefore need to act now!                      
                        </p>
                        <p>
                            KWERIT SARAH CHEBIJIRA.
                        </p>
                  
                            {{!-- <img class="img-fluid" src="images/happy.jpg" alt="image" style="">


                            <img class="img-fluid" src="images/brain1.jpg" alt="image" style="">
                            
                            <p>
                                For the CampusWeekly, I am Kwerit Sarah Chebijirah.
                            </p> --}}
                            
                        
                    </div>              
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>