<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 style="text-align: center; color: blue;">THE CRY OF AN AFRICAN CHILD</h1>
                            <div style="margin-bottom: 10px;">
                                <img class="d-block w-100" src="images/check3.jpg" alt="First slide">
                                <div style="margin-top: 15px;">
                                    <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                        <span style="color: blue;">
                                            <i class="fa fa-edit"></i> Poem by Atim Maureen
                                        </span>
                                        <img class="img-fluid" src="images/atimtimcy.jpg" alt="image"
                                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                                    </h6>
                                </div>
                            </div>
                            <div class="row padding ml-1" style="display: flex; flex-direction: column;">
                                <p>
                                    I have a name, <br>
                                    I have a voice, <br>
                                    A voice that counts. <br>
                                    Please! Hear me out. 
                                </p>
                                <p>
                                    I thank you for me, <br>
                                    I can’t consent, <br>
                                    But can be consulted. <br>
                                    Please! Hear me out.
                                </p>
                                <p>
                                    I love you mummy, <br>
                                    I love you daddy, <br>
                                    How much more will I love you? <br>
                                    If you just hear me out.
                                </p>
                                <p>
                                    I adore you, my dear teacher <br>
                                    I respect you my dear elders, <br>
                                    But before you compromise <br>
                                    Please, listen to my perspective.
                                </p>
                                <p>
                                    Before you reason for me, <br>
                                    Try to reason with me. <br>
                                    Yes! I am just a child today, <br>
                                    I want to be a responsible adult tomorrow <br>
                                    Please listen to my voice.
                                </p>             
                            </div>              

                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>