<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THE DEBATE SOCIETY</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/debate2.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">Y</span>ou haven’t lived till you
                                have attended one of the intellectual discussions held by the debate society of Lira University. You
                                just haven’t! I was invited to one of these sessions and I tell you right here right now, my
                                friends, the experience I got was unprecedented! It was the best feeling, being in the same room
                                with such great minds.
                            </p>
                            <p>
                                The intellects discussing were very informed, aired their thoughts with sound authority over
                                content. Their voices grabbed your full attention, and not just because their discussions were on
                                current events. No! Not just that! My friend, these were the future leaders taking stands on
                                different points.
                            </p>

                            <p>
                                On the 28th March, 2021, up on the last floor of the Teaching Hospital, Mr Bwambale Binepe, the
                                Acting President of Lira University Debate Society, organized and led a very interactive discussion
                                with the motion “African Narrative in relation to African Leadership”, siting majorly the example of
                                the late president John Pombe Magufuli of Tanzania.
                            </p>
                            <p>
                                With the discussion getting heated and points being thrown up, I picked keen interest in two
                                discussants; Mr Mugerwa Moses, a year two public health student and Mr Bitarinsha Yoramu, a year one
                                psychology student. These were very strong debaters! Extremely strong! Fully informed! Up to date
                                with the current events!
                            </p>
                            <p>
                                Their prowess was seen during the submissions on the set question, “Why is Africa the richest and
                                again the poorest continent?” It was during his turn that Mr Bitarinsha completely arrested my full
                                attention. “Leadership drought!” He began, “Most of the African Presidents are aged sixty and above
                                yet the average age of the population say for example in Uganda is about twenty to twenty-five.”
                            </p>
                            <p>
                                Uganda for instance has the youngest population in the world. And the leaders are aged sixty and
                                above; leaving a leadership age-gap of about forty to forty-five years! My dear friend, with these
                                kinds of facts, it was just natural! Naturally understandable why Mr Bitarinsha had control over the
                                entire room during his submission.
                            </p>
                            <p>
                                His voice; his expressions, the command it all gave him, oh my! You’ve got to hear him speak. You
                                have to! The passion with which he presented facts! Oh God! Nothing could make you any prouder to be
                                at campus! Nothing!
                            </p>
                        
                        
                            <p>
                                “If the leadership is not corrected, then Africa will be poor for more centuries to come!” And
                                you’re telling me you don’t want to be a part of the audience to these kinds of discussions. Come
                                on, let’s all go witness the intellects discuss real issues, every Friday from 7:00 pm – 10:00pm on
                                the last floor of the Teaching Hospital.
                            </p>
                            <p>
                                “What is in Africa is not corruption, it is complete utter theft!” Now, this was the line Mr Mugerwa
                                used that left me with really no other option but just pay attention! This was no longer just
                                attention. I was interested! Mr Mugerwa wasn’t just informed; the gentleman packaged humour in his
                                entire submission. And you’re still saying you don’t want to laugh while listening to facts being
                                discussed! Let’s all be there!
                            </p>
                            <p>
                                In the room was a one Atim Maureen, a very prominent leader, the current President of the Africa
                                Youth Leadership Forum, Lira University. Holding very many other roles at campus, she’s another very
                                passionate debater.
                            </p>
                            <p>
                                It was during one of her submissions that she made a statement, “Africans are lazy! They would
                                actually wait for the government to come and drain their trenches. Something that they could very
                                well do by themselves.” A very valid point. But just couldn’t survive the attacks that followed from
                                the other debaters in the room who, very much believed that Africans were anything but lazy!
                            </p>
                            <p>
                                To narrate to you the entire experience would just be completely utter theft. I would be robbing you
                                of the real treasure – you being a part of their audience! For the CampusWeekly, I am Lukenge
                                Benard, asking you right here right now, “Who is our Miss Fresher?” Do we have one or is she just
                                shy?
                            </p>
                            <p>
                                When you do see her around campus, let her know, our satellites are scanning for her! She’s the next
                                big thing! Have a wonderful week!
                            </p>
                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>             
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>

 