<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">FOOD AND RESTAURANTS</h1>

                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/food.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <h5 style="font-weight: bold; text-align: center;">JOURNEY TO THE NORTH </h5>
                            <p>
                                What? You can’t blame me at all. I’m totally justified. The longest I had ever been far away from my parent’s house was the thirty minutes’ drive to my high school. Here I was, then, on a six-hour journey to the North.
                            </p>
                            <img class="img-fluid" src="images/journey2.jpg" alt="image" style="">
                            <p>
                                This was no normal occurrence. Remember, there was already the issue of the political prejudice of this far North, going on. There’s no use hiding that. If there was ever a bigger risk to take, for me, this was it.I had no mates I knew of already up this side. 
                            </p>

                            <p>
                                I remember the first day, I landed here, with my dad, looking for some good food.We landed on a dish; which my dad seemed to enjoy, because he travels a lot! But between me and you, pasted meat had never been a sauce.
                            </p>
                            <img class="img-fluid" src="images/uganda-local-food.jpg" alt="image" style="">
                            <p>
                                At least not the one we landed on. No, the appetite was lost immediately after sniffing it. I just had to look for some chapatti and a Mountain Dew bottle. 
                            </p>
                            <img class="img-fluid" src="images/rolex.jpg" alt="image" style="">
                            
                            <p>
                                Funny as things go, because currently, if someone places it infront of me, I am definitely not leaving any scrap of a cell of anything like a bone. 
                            </p>
                            <p>
                                But you know what happens with first impressions.With this kind of menu, I knew I was dead meat, feeding only on chapatti and Mountain Dew for the rest of my three years in the North.
                            </p>
                            <p>
                                If there ever was a day to use the statement, “I am finished.” This was it. I was completely finished. Government sponsorship, curiosity and all, I knew I was in for a tough and hot ride.
                            </p>
                            <p>
                                The stories of the hot unforgiving sun in the North weren’t just prejudice that’s for sure.It was definite that I was going to lose all my chocolate skin and get real baked.
                            </p>
                            <p>
                                To my surprise, all that came to a complete stand still, when I stepped foot in the hostel I was to reside in. I heard from a distance what seemed to be a father talking to his son in my mother tongue.
                            </p>
                            <p>
                                I was extremely overjoyed. You can’t even start to imagine. I was so happy. To know that first, I wasn’t the only sacrifice to the Northern gods. And second, there was someone to hang out with, in the same hostel!
                            </p>
                            <p>
                                From then, things just got better and better with every second. I got to find out that we did the same course as well.
                            </p>
                            <p>
                                Worst of all, from the conversations we had, I discovered his home was in the same village as ours. We got so close. And up to this day, we are the best of friends.
                            </p>
                            <p>
                                Yes, for about a week and a half, the meal was still chapatti and Mountain Dew. But hey, I wasn’t so scared anymore. Actually, in about 2 weeks, my friend called me, they had discovered a good food joint.
                            </p>
                            <p>
                                The prices were just crazy. From then on, the crew and I began frequenting this joint for lunch. They had all the food you could think of. Sometimes we would go crazy and just all order chicken.
                            </p>
                            
                        
                            <p>
                                Well, it was crazy, because our arrangement was to only feast on chicken via the weekends. But somedays, when we were too happy, which was almost all the time, we would just lose it. Chicken throughout!
                            </p>
                            <p>
                                In the evening of course, the trend was still the same. Abby’s Joint was the place to meet! This guy made the best Rolex. Combined with some porridge or tea and supper was done.
                            </p>
                            <img class="img-fluid" src="images/abby2.jpg" alt="image" style="">
                            <p>
                                He was so good, clean and tidy, that this was everyone’s evening joint. The entire campus, or at least three quarters of it!
                            </p>
                            <img class="img-fluid" src="images/muwonge3.jpg" alt="image" style="">
                            <p>
                                Yes, this was way before the famous Muwonge’s Yammie Supermarket was a thing. Abby was your guy. Well, what were the other options? Cassava! Oh God, cassava!
                            </p>
                            <p>
                                With 500/=, you have yourself cassava for life!. Cassava in the North is just too much and extremely cheap. Fried cassava! One piece, as long as an entire meter rule. And you want me to go back to Kampala?
                            </p>
                            <p>
                                My friend, what are you talking about? Weeks later, our very own, Ms. Alice brought us the real Kiganda experience of a restaurant right next to Bako Hostel.
                            </p>
                            <img class="img-fluid" src="images/alice2.jpg" alt="image" style="">
                            <p>
                                And this was when I knew I would never dream of visiting Kampala ever again. I had everything. The stereotypical myths were all broken. Our entire class was filled with people speaking, actually gossiping, in my mother tongue. I felt at home!
                            </p>
                            <p>
                                This was my new family. The crew and I decided to make it a quest to discover all those nice food restaurants we didn’t know about. And just as we had suspected, good food was all around us. We just had to look for it.
                            </p>
                            <p>
                                But that is with every place. There is always good food, and at good prices, you just have to determine to look for it. Those who have lived in the cities know what I mean.
                            </p>
                            <p>
                                There are places where to get a nice plate of food, if you don’t have a 20k, you don’t branch. And there are places where with your 5k, you eat like a king. Great food! And these places aren’t always on display. You have to know the corners to these joints.
                            </p>
                            <p>
                                Then hostels! Oh God! This is another story altogether. And I promise you, I can’t wait to tell it. But for now, I’ll leave things at that, and first have a sip of water. See you!
                            </p>
                                            
                            
                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Shots 
                        </h4>
                        <p>
                        <div class="row padding">
                            <div class="col-md-12 col-lg-6">
                                <img class="img-fluid" src="images/alice1.jpg" alt="image" style="">
                                <h5 style="font-weight: bold; text-align: center;">Ms. Alice in her Restaurant</h5>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <img class="img-fluid" src="images/muwonge2.jpg" alt="image" style="">
                                <h5 style="font-weight: bold; text-align: center;">Mr. Muwonge in his Yammie Supermarket</h5>
                            </div>
                            
                            
                            
                        </div>
                    
                        <div>
                            <div class="col-md-12 col-lg-6">
                                <img class="img-fluid" src="images/abby1.jpg" alt="image" style="">
                                <h5 style="font-weight: bold; text-align: center;">Mr. Abby at the Joint </h5>
                            </div>
                        </div>
                        </p>
                    </div>
                    
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>

 