<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">Interview With The Deputy National Coordinator, Debate Presidents Council</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/binepe.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                                <h6 style="font-weight: bold;">
                                    <i class="fa fa-edit"></i> Story by The Editor
                                    <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                        style="width: 40px; margin-top: -15px; border-radius: 100%;">
                                </h6>
                            </div>
                    </div>

                    <div class="row padding">
                    
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">T</span>his week in an interview with Mr. Binepe Lhwanzo Bwambale, the newly elected Deputy National Coordinator, we bring to you a look at the Uganda University Debate Presidents Council and a quick peek through the guest’s rather interesting leadership journey.
                            </p>
                            <img class="img-fluid" src="images/roadmap.jpg" alt="image" style="">
                            <p>
                                The road map for the duely concluded elections was as follows; expression of interest happening on 12-13th of June, 2021; declaration of nominated candidates, open campaigns, candidate’s debate, elections and orientation of new cabinet, all processes conducted online, on 15th June, 16-21st June, 29th June, 21st June and 22nd June respectively.
                            </p>
                            
                            <p>
                                Mr. Binepe Lhwanzo Bwambale is the President, Lira University Debate Society. A second year student pursuing a bachelor's degree in Public Health. He is the chairman, Western Uganda Student's  Association of Lira University (BALUSA), class coordinator Public Health Year 2 class of 2020/2021.
                            </p>
                            

                            <p>
                                Mr. Binepe is also an ambassador of innovations and technology development in the faculty of Health Sciences; a founder member of African youth leadership forum (AYLF) Lira University chapter, former welfare minister in the Defunct Lira university Red cross society, Co-founder and CEO Beaconnet UG, member of the  board of directors AHRIS UG, a local NGO operating in Kiryandogo refugee camp, a business man and an aspiring politician. 
                            </p>
                            <p>
                                Raised from a humble background in a family of eight siblings, Mr. Bwambale is a person of great character strong-will brain power and resilience; a firm Christian and an advocate for change in all dimensions of life.
                            </p>
                            <img class="img-fluid" src="images/binepe1.jpg" alt="image" style="">
                            
                            <p>
                                “Yes, you are very welcome to tonight’s show(in this respect, used to refer to the interview session), Mr. Bwambale. We are very happy to have you here.” “The pleasure is mine! Indeed; and in that spirit, allow me thank you, our host tonight; for that very detailed introduction. I am really very honoured to be here.”
                            </p>
                            <p>
                                “To the audience out there, my name is Lukenge Benard, reporting for the Campus Weekly. Back to you, Mr. Bwambale! Being the President of a Debate Society, what is your vision, in relation to debates and rhetorics? Let’s start there.”
                            </p>
                            
                            <p>
                                “Yes, thank you for that question, our dearest host. My dream and goal is focused on creating equal grounds and opportunities for every student and stakeholders to  be able to participate in debates without fear and prejudice. To ensure that debate is embraced at all levels, we need to eliminate the stereotype that debate is meant for only a few gifted students or professional debaters. This kind of thinking has limited a lot of talent and opportunities and created discourse at different levels.”
                            </p>
                            
                            <p>
                                “How can society be fair unless everyone has equal opportunity and ability to articulate themselves? Without this, our legal system, political systems and financial systems, are all at stake. It should be of intense concern to all of us that we revive debates among all categories of people irrespective of where they come from or institution they affiliate to.”
                            </p>
                            
                            <p>
                                “It's absolutely scandalous that in a country dealing with such new challenges ranging from financial inequality, corruption, the apocalyptic threat of climate change, religious persecutions and human rights violation, that  we should be restricting debates to such a narrow scope.”
                            </p>
                            <p>
                                “Instead of teaching our students to sit down and shut up, we should be teaching them to stand and speak up. So let's revive rhetoric’s, let's invigorate  debates at this mighty university and let's really give every person in this great, young and blossoming institution a chance to become a great leader.”
                            </p>
                            
                            <p>
                                In September 2019, Action Aid Uganda through the Global Platforms in partnership with Uganda Dialogue Arena organized the 2nd Inter-University debate Dialogue that was hosted by Bishop Stuart University in Mbarara. 
                            </p>
                            
                            <p>
                                This came at the heels of the 1st Inter University Debate Championships held in 2018 at Makerere University Business School (MUBS). 
                            </p>
                            
                            <p>
                                The inter-university debate brought together over 23 universities to debate on the topic: Governance and leadership question in Africa; the role and meaningful participation of young people.  
                            </p>
                            <p>
                                Critical to the resolutions from the Debate Championships was the need to kickstart process of building a strong debating movement that can strengthen the civic competence and actions of Young people in influencing transformative change. 
                            </p>
                            
                            <p>
                                Subsequently, in October 2019, a team of 32 presidents of various debating clubs were convened by the Global Platforms to discuss the strategies of strengthening their debating associations in various universities. 
                            </p>
                            <p>
                                One of the key outcomes from the 1day meeting was formation of the National Debating council, and her leadership of 7 people, and two ex-Officials who would be called upon because of their expertise.
                            </p>
                            

                            <p>
                            The Council’s area of operation confined primarily to debate and dialogue on youth and national affairs; nurturing young leaders in guild structures, policy influence and advocacy as well as stakeholder engagement.
                            </p>
                            
                            <p>
                                “Yes, back to you, Mr. Bwambale. In this new position as Deputy National Coordinator Debate Presidents Council, what is your specific role?”
                            </p>
                            
                            <p>
                                “And two; with the COVID situation that no one really knows when it is that it is going away, what is your plan to engage the youth in these debates, or are you going to wait until schools are back in business?”
                            </p>
                            <p>
                                “Thank you once again for those wonderful questions. My major/specific role is to build a strong movement of debating societies in Universities, that is well networked, well connected, coordinated and can influence policy at local, regional and National levels.”
                            </p>
                            
                            <p>
                                “The second question is of great importance and I would like to respond to it with due defines.”
                            </p>
                            <p>
                                “This pandemic has greatly affected the activities of the debating fraternity as the other sectors too, however we believe every adversity brings with it a great array of opportunities that we can embrace. We can't ascertain when this will come to an end but we have to learn and adopt ways of living with it.”
                            </p>
                            <p>
                                “First off all our plans are long term and based at laying foundation stones for the next generation of leaders that will come, in times when they will have ample space and convenience to make operational our work plan.”
                            </p>
                            <p>
                                “However we have a strategic plan that is targeting a three level approach of intervention. First is the stakeholders level.
                            </p>
                            <p>
                                At this point out major focus is built on strengthening the partnership base with organizations and governments that support youth led movements. We have a partnership with NGOs such as actionaid, global platforms Uganda. And our next level is to solicit for more partners to support different university debate societies.
                            </p>
                            <p>
                                We are also determined to reach an MOU (Memorandum of Understanding) with government bodies such as the parliament of Uganda to embrace and support the activities of the council.”
                            </p>
                            <p>
                                “Second is the debate presidents’ level. As I had earlier on made mention of the adversity caused by the pandemic; there has also been a positive trend that has come with it. 
                            </p>
                            <p>
                                There has been a rapid evolution towards digitalization of everything from communication to transactions. We have platforms such as WhatsApp, zoom, discord, and telegram which have eased communication. 
                            </p>
                            
                            <p>
                                Through these platforms regular skills development and empowerment of the different debate presidents will be done. At different times! And on matters of relevance at that point in time! Once these leaders are empowered and skilled, they can be able to go back to their institutions and create an impact.”
                            </p>
                            <p>
                                “The third and last level would be the societal or institutional level. Institutions have been engaged in various online mentorship programs and debates. Case in point is the recent redemptive debate tournament that was attended by eight students from Lira University with three active participants, a one very famous Gracious Ewach, Tugume Martin and Sebuwufu Eddy - all year ones!
                            </p>
                            <p>
                                There are also online programs created and developed to skill young people around the country, these programs include; rangers union, rangers book club and the rangers academy. Which; currently have three of our own enrolled in different programs such as public speaking, world schools debate , introduction to BP debate format, among others. 
                            </p>
                            <p>
                                Besides, there are also programs that are on-going at our institutional level such as the climate change poetry campaigns headed by our very own Kwerit Sarah.
                            </p>
                            <p>
                                There is a lot I have to say on this but hope you see what we are trying to get done even in this hardest time.
                            </p>
                            <p>
                                As I talk now there is a debate tournament happening now online which has some of our members passively participating. It's a slow but well protracted struggle and I hope we achieve all this together because I believe in teamwork.”
                            </p>
                            <p>
                                “I really appreciate the great depth with which you provide your responses, Mr. Bwambale. And I apologize that I may have to ask quite more deeply too, my only hope is that you're okay with it.
                            </p>
                            <p>
                                So, taking for instance, this very moment; how is the debate society engaging that young talent that doesn't fully know of its real potential? I'm quite convinced there's a trend usually with the debate societies to go on to national levels, regionals and so on, with the best they have got (best and long standing members of the society).
                            </p>
                        
                            <p>
                                In that respect therefore, what is your plan – or question would be – is there a plan, to encourage those young silent talents that aren't even aware or part of these debate societies to come join the cause, even during this lockdown?”
                            </p>
                            <p>
                                “Thank you. I will begin by sharing with you a short story about myself. I was an introverted being, less outgoing and so preferred to keep my opinions to myself most of the times, just for the fear of being judged and criticized.
                            </p>
                            <p>
                                However as I grew up and made some few friends, I started finding myself engaged in debates on who was the best footballer between Messi and Ronaldo. The boys and maybe a few girls will testify that these are some of the most heated arguments all soccer lovers never miss!
                            </p>
                            <p>
                                These arguments helped me in opening up my thoughts and becoming the more outgoing person that I am today, though people still say am not. However, growing as a debater, I have come to realize the power of debates in changing people's lives; from people who will sit down and shut up when confronted with adversities, to those that will stand and speak up. 
                            </p>
                            <p>
                                I love debates and I believe everyone should be a part of this great sport, not just the best of the best, but everyone. When you wake up in the morning there is a debate in your mind whether to leave the bed or stay in there all day long.
                            </p>
                            <p>
                                Even when deciding on whether to brush your teeth or not. We don't realize this because it's an unconscious process that we don't pay attention to. Debates help us to subconsciously construct positive schemas that govern and shape our core beliefs which in turn results into healthy cognition. So when you see someone with dirty teeth pull them to the debate society.”
                            </p>
                            <p>
                                “Now to answer your question on how to engage that young talent that is not yet aware of this; I will start by making some correction here. First, debate is not a talent, debate is a skill. A skill that anyone can learn; all it takes is commitment to learn the skill.
                            </p>
                            <p>
                                When you refer to it as a talent, you restrict it to a few chosen individuals. So having understood that and assuming we are in consensus, we can all derive means collectively as a university to get everyone on board and those that prove outstanding (committed) can go on to win us trophies and medals.”
                            </p>
                            <p>
                                “However there are things we have done to try and bring people on board. We have successfully organized inter-course and inter-faculty debate competitions that have seen new members join the club. 
                            </p>
                            <p>
                                We publish our events in various WhatsApp groups and request those interested to join the group where they learn more. We have also reached out to people on individual basis and shared the message with them.
                            </p>
                            <p>
                                We have a Facebook page that is intended to inform and attract the student fraternity to the club. We partnered with AYLF to see to it that more mobilization is done and many people are brought on board. 
                            </p>
                            <p>
                                We have organized and streamed live sessions of debates to the student community to try and attract them; an example is the recently held chief fresher's debate.
                            </p>
                            <p>
                                We are also trying to get more and more debaters into leadership positions so as to inspire the rest. Case in point is our own newly elected chief fresher Nabakooza Elizabeth; actually even the runner up Mr. Yoramu is a part of the society.”
                            </p>
                            <p>
                                Lastly, one person once told me, "you don't have to pull an animal to the water place; put salt in its food and it will sure be thirsty." We intend on making the debating society of Lira university great, attractive and successful and you know how people love to associate with success.
                            </p>
                            <p>
                                “Wow, I must say, Mr. Bwambale, you are really the man for the job. I loved that last point about success. A very valid point! And that our dear audience would have to bring us to the end of tonight’s show.”
                            </p>
                            <p>
                                “Don't you have any other questions; I had just started heating up? I loved the questions you asked because they are the real questions that deserve answers from us, the leaders and policy makers.”
                            </p>
                            <p>
                                “Your answers were even way more commendably aligned, Mr. Binepe. I definitely enjoyed our discussion. Our hope is that we shall schedule another interview with you in the future. But as of now, I remain, Lukenge Benard, for the Campus Weekly. Have a great night.
                            </p>
                            <p>
                                &copy;LUKARD
                            </p>
                            <h5 style="font-weight: bold;">Uganda University Debate Presidents Council Members</h5>
                            <img class="img-fluid" src="images/mahad.jpg" alt="image" style="">
                            <img class="img-fluid" src="images/susan.jpg" alt="image" style="">
                            <img class="img-fluid" src="images/sabrina.jpg" alt="image" style="">
                            <h5 style="font-weight: bold;">Deputy Speaker, Atumnaya Doris</h5>
                            <img class="img-fluid" src="images/doris.jpg" alt="image" style="">
                            <h5 style="font-weight: bold;">General Secretary, Atim Mercy</h5>
                            <img class="img-fluid" src="images/mercy.jpg" alt="image" style="">
                            <h5 style="font-weight: bold;">Western Region Coordinator, Mikayi Maureen</h5>
                            <img class="img-fluid" src="images/maureen.jpg" alt="image" style="">
                        
                        
                    </div>               
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>
