<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">LDC GUILD AND STUDENTS' COUNCIL SWEARING IN</h1>
                    <div style="margin-bottom: 10px;">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/front.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat1.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat2.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat3.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat4.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/front1.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat6.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/front2.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat8.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat9.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/seat10.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear.jpg" alt="image" style="">
                        </div>

                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear3.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear2.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear13.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear5.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear1.jpg" alt="image" style="">
                        </div>

                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear8.jpg" alt="image" style="">
                        </div>

                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear9.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear12.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear11.jpg" alt="image" style="">
                        </div>

                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/swear10.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/steatT.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/steat.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/stand.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/stand2.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/stand3.jpg" alt="image" style="">
                        </div>
                        <div class="col-lg-3 padding">
                            <img class="img-fluid" src="images/cake.jpg" alt="image" style="">
                        </div>


                        <div class="col-lg-6">

                            <p>
                                &copy;LUKARD
                            </p>
                            <p>
                                <a href="https://twitter.com/WeeklyCampus/status/1385184063900864512" target="_blank"
                                    style="text-decoration: none; ">
                                    <i class="fa fa-twitter-square"></i>
                                    <span style="font-weight: bold;">Story On Twitter</span>
                                </a>
                            </p>

                        </div>
                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Videos at
                        </h4>
                        <p>
                        <div>

                            <a href="https://www.youtube.com/watch?v=5PuZ5cFVpzM" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Ministers Swearing In

                            </a>
                        </div>
                        </p>
                    </div>         
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>