<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">Interview with LDC Guild President</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/smith-1.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                                style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>
                    <div class="row padding">

                            <p>
                                Just as promised, our cameras already at work, just couldn’t decide on which story to cover this
                                week and which one to leave. Shuffling through the collection of stories around campus, I landed on
                                the interview I had with the Guild President of the newly established Lira LDC community.
                            </p>
                            <p>
                                Having any doubts on whether leadership and good looks have any intersection whatsoever? I’m quite
                                sure you just haven’t met H. E Rutebemberwa Smith! The cutest man from the land of Ankole currently
                                residing over a team of eight Guild officials leading an entire intake of close to three hundred and
                                fifteen 2020/2021 lawyers.
                            </p>

                            <p>
                                The Law Development Centre opening its third branch at Lira Campus, the first and second being
                                Kampala Main Branch and Mbarara, brings with it a new feel and style to the air the campus has been
                                used to. Yes, the full time high standard taste in attire is not an attribute shared only by Mr.
                                Smith. No, my friend, the university just got itself three hundred and fifteen recruits pulling off
                                a completely new swag for the campus.
                            </p>
                            <p>
                                You definitely shouldn’t be alarmed finding the year one freshers being overly respectful, it is
                                terribly no fault of their own! Seeing some of these fine ladies and gentlemen in their suits, you
                                quickly compare them with our very own – the lecturers, some of whom can’t really pull it off – that
                                kind of executive-ness. These gentlemen looking more of lecturers than our own lecturers, is really
                                an understatement.
                            </p>
                        
                            <p>
                                Already qualified lawyers, here for their fifth and possibly their final year allowing them become
                                advocates – representing clients in the courts of law. With the four years of their theoretical
                                understanding of the law, this year encompasses all the practice there is, necessary to make one
                                capable of pulling off those stunts we watch in movies with actors taking on the good lawyer role,
                                pulling off very compelling arguments for their clients in front of the judge and the jury.
                            </p>
                            <p>
                                When tempted to comment on whether the nice suits and the hot and not exactly executive environment
                                the campus already sits on, presented any thoughts of swag loss, His Excellence, the president
                                treaded the waters quite smoothly. Citing that the attire really isn’t for the swag adventures that
                                come with it, rather it is a requirement that comes with the legal profession. One that
                                interestingly has super restrictions when it comes to colors, allowing only for variations of black
                                or navy-blue suits and definitely none of the shouting colors.
                            </p>
                            <p>
                                From an entirely different angle, I muscled through to another area of discussion. You know how
                                every course has about three to four years of study, that is to say; year one students, year two
                                students, in that order, but all studying the same course, taking for instance BSc. Public Health.
                                Our post graduate friends in the LDC division will only have one year of students every year per
                                intake. And instead of having a class coordinator because of it being one class, they will each year
                                elect their own Guild President, an interesting idea that obviously couldn’t miss discussing during
                                our interview.
                            </p>
                            <p>
                                With no way of going around it in my opinion, the president explained it with quite some ease!
                                “There had to be a leadership structure to handle concerns specific to the lawyers.” Which statement
                                obviously suggested that the current University Guild President was definitely not the man for the
                                job, clearly justifying the need for a separate Guild!
                            </p>
                            <p>
                                Having made it clear that his Presidency is in line with concerns, academic or otherwise, of the
                                team of lawyers in his regime, presented to and handled by the administration, Mr. Smith still let
                                us in on a secret advantage that the university and the native community around the campus might
                                just take pride in.
                            </p>
                            <p>
                                “We are ready and willing to offer any and all legal advice to the campus or the natives when they
                                approach us. And where need be, at very low costs,” the president responded when asked whether the
                                LDC Guild has anything in stock for the university as a whole.
                            </p>
                            <p>
                                Well, it would be now that I come out and apologize to our female readers for having Mr. Smith’s
                                phone contacts left out in this article. In my defense though; I stand restricted by our privacy
                                policy, not to release any personal contacts or physical address without the consent of the
                                personnel we interview.
                            </p>
                            <p>
                                For the Campus News 101, I remain Lukenge Benard, reporting for the CampusWeekly™. Have a great
                                week!
                            </p>
                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>    
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>
  