<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">MENTAL HEALTH AWARENESS </h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/mental4.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by Ocen Daniel Comboni
                                <img class="img-fluid" src="images/comboni2.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                    
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">W</span>orld Health Organization
                                defines mental health as a state of physical and psychological wellbeing of an individual. Therefore
                                Health, “is a state of complete physical, mental and social well-being! Not merely the absence of
                                disease or infirmity."
                            </p>
                            <p>
                                In 2019, WHO reported that People with mental disorders experience disproportionately higher rates
                                of disability and mortality! For example, persons with major depression and schizophrenia have a 40
                                to 60% greater chance of dying prematurely than the general population; owing to physical health
                                problems that are often left unattended. Problems such as the cancers, cardiovascular diseases,
                                diabetes, HIV infections and suicide!
                            </p>

                            <p>
                                For most communities, mental illness is much associated with witchcraft simply because most people
                                have failed to distinguish between the signs and symptoms of mental health versus those that most
                                probably come with the packaging of witchcraft related problems.
                            </p>
                            <p>
                                In light of this, mental illness cases may end up under the care of witchdoctors instead of being
                                reported at the Mental Health Unit. These victims, in my opinion, receive wrong treatment because of
                                a very wrong diagnosis. Wrong or not, the question remains! Does this solve the problem?
                            </p>
                            <p>
                                Mental health challenges are triggered by a number of problems and among them are the traumatic
                                events; grief, continued hardship, addiction, unhealthy relationships and human abuse!
                            </p>
                        
                            <p>
                                The signs and symptoms of mental health illness include; excessive fear, mood changes, sleeping
                                difficulty, withdrawal into isolation, and suicidal ideation.
                            </p>
                            <p>
                                Mental health status of a person can be assessed basing on cognitions; perceptions of an individual
                                towards things, behaviors of a person, physical appearance, among others.
                            </p>
                            <p>
                                Some of the common mental disorders include depression, bipolar, the eating, personality,
                                post-traumatic stress disorder, and anxiety. The diagnosis can be made by a mental health
                                professional.
                            </p>
                            <p>
                                Determinants of mental health and mental disorders include not only individual attributes such as
                                the ability to manage one's thoughts, emotions, behaviors and interactions with others; but also,
                                social, cultural, economic, political and environmental factors such as national policies, social
                                protection, standards of living, working conditions, and community support. Stress, genetics,
                                nutrition, perinatal infections and exposure to environmental hazards are also contributing factors
                                to mental disorders.
                            </p>
                            <p>
                                Everyone is entitled to a healthy life. That said, I want to encourage each and every one of us to
                                take the initiative and responsibility to care for our mental health. For the CampusWeekly, I am
                                Ocen Daniel Comboni; till next time!
                            </p>
                            <p style="font-weight: bold;">
                                Ocen Daniel Comboni
                                <br>
                                dhan96ocomb@gmail.com
                                <br>
                                Psychological counselor.
                            </p>
                            <p>
                                <a href="https://twitter.com/WeeklyCampus/status/1384907268819406850" target="_blank"
                                    style="text-decoration: none; ">
                                    <i class="fa fa-twitter-square"></i>
                                    <span style="font-weight: bold;">Story On Twitter</span>
                                </a>
                            </p>
                        
                    </div>              
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>