<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">MIDWIFERY INTERNSHIP</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/internship2.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">T</span>he
                                Bachelor of Science degree in Nursing and Midwifery is the first of its kind;
                                taught for a
                                period of four years and only at Lira University. The only other institution that offers the degree
                                is Mountains of the Moon, which doesn’t take in direct entrants – students from senior six. A reason
                                as to why their degree course is two years; accommodating for only extensors – midwifery students
                                from a diploma level.
                            </p>
                            <p>
                                “In 2013, Lira University, a Ugandan Public University, in partnership with Seed Global Health,
                                started the first Bachelor of Science in Midwifery (BScM) in Uganda with a vision to develop a
                                Master of Science in Midwifery (MScM) in the future.”
                            </p>

                            <p>
                                Lira University is one of the Public Universities in Uganda. It started as a Constituent College of
                                Gulu University in 2009 and attained autonomy as a fully fledged Public University through an Act
                                Parliament under Statutory Instrument 2015 No. 35 on the 16th July, 2015.
                            </p>
                            <p>
                                “In Uganda, midwives have been traditionally prepared mainly to perform the role of subordinates to
                                the doctors. The Bachelor of Science in Midwifery program is to elevate midwifery to an educational
                                level that prepares midwives to exercise critical thinking and judgement in the provision of
                                comprehensive and integrated reproductive health practice, as well as community-based health care.
                                The capacity of the midwives will be built to conduct emergency surgical procedures which are life
                                saving to mothers in areas where medical officers are scarce.” An official description of the degree
                                course from the University website.
                            </p>
                            <p>
                                For the first two years, the course units taught in the degree are the same course units taught in
                                the medical school. They are basic sciences. A reason as to why during the internship field
                                placement that comes after year one, the students are grouped and sent to the various hospitals
                                where they get well acquitted with handling and managing patients in various departments of the
                                hospitals.
                            </p>
                            <p>
                                To this end, the interns don’t lead any procedures involving the pregnant women or help in child
                                birth, simply because at this stage, they are just like any other medical personnel, not yet
                                specialized into real midwifery work. Offering only antenatal care during this period.
                            </p>
                            <p>
                                It is also during this internship, that the students get to learn the professional code of conduct,
                                expected of them as professional medical staff.
                            </p>
                            <p>
                                Unlike many of the other courses offered at the University, the midwifery course has with it a
                                different internship package arranged every study year. This therefore brings our discussion to the
                                special training and teaching practice that midwifery students undergo after their year two semester
                                two.
                            </p>
                            <p>
                                A very important training that comes in handy in case one ever needs to help a mother with special
                                needs deliver her baby. This is the reason the midwives are taught sign language during their year
                                two recess term.
                            </p>
                            <p>
                                The teaching practice usually involves the students being taken to the various Nursing Schools
                                around the region. “What happens is; you choose a subject to teach the Nursing Students. Since they
                                are also studying to become midwives, you choose a course unit that you are confident in and teach
                                it to them for about a month. “Explained one of the year four midwifery students we interviewed.
                            </p>
                            <p>
                                “The supervisors, who are our very lecturers, once or twice come and observe you as you conduct a
                                lesson. Within these sessions you conduct, you can set tests for your students and even mark them.
                                The marks they obtain contribute a small percentage to their final examination results.
                            </p>
                            <p>
                                The year two students this year though, will not have this experience, following the health
                                guidelines in the country, as per the prevention of the spread of the corona virus. An arrangement
                                has been made though, by the University, to have students conduct micro-education, as a way to avail
                                them the experience of the teaching practice. They will conduct lessons teaching their own
                                classmates, with a supervisor attending to evaluate their skills. The supervision checks for
                                qualities of a good teacher.
                            </p>
                            <p>
                                “How do you present yourself towards your students? How do you interact with them? Are you just
                                reading notes or does your teaching style allow for discussions between students and the teacher?”
                            </p>
                        
                            <p>
                                This is very important because it gives the student a new attitude and perspective on how they view
                                their work. It tests the authority they have over their content and how they can easily avail it for
                                others to understand.
                            </p>
                            <p>
                                Like mentioned earlier, the interesting midwifery internship package each year brings us to a
                                portion of it that takes place during the recess term after the third year, called the domiciliary
                                practice.
                            </p>
                            <p>
                                This is the care given to a mother from their hospitals to their homes within the first week of
                                giving birth.
                            </p>
                            <p>
                                In this practice, you book the mother from the hospitals you are assigned, usually it is the Lira
                                Regional Referral hospital. You look after this mother throughout labour. You aid in delivery of the
                                mother’s baby. Emphasis on aid, because it is very possible for a mother to give birth without
                                anyone’s help.
                            </p>
                            <p>
                                You continue to carry out assessment of the mother and the baby within the first few hours of
                                delivery up to seven days postpartum. And if everything looks fine after this period you can
                                discharge both the mother and the baby. Seven days; because most babies die within the first week of
                                life. They die because within this period, the mothers and the babies are at the highest risk of
                                complications.
                            </p>
                            <p>
                                According to the World Health Organisation; in the Sub-Saharan Africa, 125,000 women and 820,000
                                new-borns die just within the first week of birth. These lives can be saved if a large quantity of
                                care is provided to both the mother and the new-borns.
                            </p>
                            <p>
                                During Domiciliary practice, the student works on five mothers, taking care of them, delivering
                                their babies and following up on them during the first seven days. The student does all of this for
                                all the mothers separately, summing up to about 35 days in the field in an ideal situation.
                            </p>
                            <p>
                                The university ambulance drives each morning to deliver the mother and her baby from the hospital,
                                with you the midwife in charge of her, home.
                            </p>
                            <p>
                                It is still a concern in a country that some mothers would rather deliver from their homes than at
                                the hospital. Some of the reasons could be financial but there is one that is heart-breaking.
                            </p>
                            <p>
                                Some of these mothers prefer the traditional birth attendants commonly known as TBAs because of the
                                love and care they show towards them during the entire time, to the hospital midwives who bark at
                                them.
                            </p>
                            <p>
                                Mothers should at all costs be encouraged to have their babies delivered at the hospitals. This is
                                where the people professionally trained to handle any complications that can arise are found.
                            </p>
                            <p>
                                An interesting fact that we got from one of our interviews is that the baby’s blood shockingly never
                                mixes with the mother’s blood throughout the entire pregnancy. This is why it is possible for an HIV
                                positive mother to give birth to an HIV negative child. There are high chances of this happening
                                smoothly if they give birth in hospitals with staff trained to handle these kinds of scenarios, not
                                the TBA.
                            </p>
                            <p>
                                Interviewing a number of year four midwifery students, I marvelled at the steps they take to make
                                sure lives are given a good start. I promise you, when you talk to any of these people, you would
                                thereafter yearn that your wife, pregnant sister or friend be handled by them, when they are due. A
                                shout out to the year four midwifery students. We are proud of you. Keep up the good work.
                            </p>
                            <p>
                                After the fourth and final year, the finalists undergo internship placement, mandatory to all
                                finalists in any health course. And this takes a period of 9 months. The government places the
                                interns in hospitals of its choosing, paying them ranging from about 700,000 - 900,000 per month.
                            </p>
                            <p>
                                My dear friend, I was hoping you would join me and ask ourselves whether we really are, in the right
                                course.
                            </p>
                            <p>
                                For the campus weekly, I am Lukenge Benard, covering the internship program packages at campus. Stay
                                tuned in! We will be back with other courses.
                            </p>
                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>
                    
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>