<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">LACK OF MONEY IS THE ROOT OF ALL EVIL </h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/gates.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by Ocepa Amos
                                <img class="img-fluid" src="images/amos2.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                    
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">“</span>Life is hard. Life has become
                                hard one of these days. The world has become too small for me.” These are some of the wordings that
                                fill both teenage and adult conversations most if not all the time. But has it ever occurred to you
                                to get deep down into the heart of the matter?
                            </p>
                            <p>
                                I tell you; you will discover nothing more or less than the subject of money. It's so unfortunate
                                that we live in a world where money has been tainted black! "My daughter loves money so much, I fear
                                she might get spoilt," said your loving and caring mom. In most societies, children's interaction
                                with money is limited, because of the negative attitudes associated.
                            </p>

                            <p>
                                This leads us to a question; of which, concern was raised by Robert Kiyosaki in his book "Rich dad
                                poor dad". Between the love of money and the lack of it, which one is the root of all evils? A very
                                good question; one you can answer in your own way!
                            </p>
                            <p>
                                I'm sure everyone has the desire to succeed financially or at least, to be in position to meet ends
                                and emergency without difficult. And yet most of us ignore the subject of money with others going as
                                far as considering it bad!
                            </p>
                            <p>
                                A security guard stays in the cold all through the night to see the month’s pay. A doctor keeps up
                                at work to fatten his pocket at the month's end. A man will stay at work away from his wife and
                                children; far away from home, to secure an income to keep the family running.
                            </p>
                            <p>
                                At campus here, we have a lot of students pursuing courses not of their interest simply because
                                Uncle Peter said jobs related to such a course pay very highly. This therefore means that money
                                surely plays an iconic role in our day-to-day sessions of decision making and interactions.
                            </p>
                            <p>
                                Money therefore becomes an element that we must learn how best to interact with.
                            </p>
                            <h5 style="font-weight: bold;">MONEY VS HAPPINESS</h5>
                            <p>
                                Not all rich people are happy and just as well; not all poor people are happy. There are other
                                factors in life; those that money can't buy! Take for instance; self-discipline, love, trust. These
                                life factors can't be quantified in terms of money.
                            </p>
                            <p>
                                However, I do believe that; watching your mum die at home, simply because you couldn’t afford the
                                hospital bills, has some serious pain attached to it! Watching your daughter dropping out of school
                                also because you don't have the money to pay her tuition won't make you any happy!
                            </p>
                    
                            <p>
                                The landlord's knocking will not make you smile. I'm not saying money brings happiness; I'm saying,
                                the lack of it, may bring unhappiness or real evil! (covered in "The creation of a prostitute", an
                                essay to be soon loaded on The Campus Weekly)
                            </p>
                            <p>
                                Let's save the aspect of money vs freedom for another day.
                            </p>
                            <h5 style="font-weight: bold;">
                                What can one do then...
                            </h5>
                            <ol>
                                <li>
                                    Get yourself financially educated.
                                </li>
                                <li>
                                    Learn the habit of saving and investing as early as possible.
                                </li>
                                <li>
                                    Read self-help books such as Napoleon Hills series, Robert Kiyosaki’s Rich dad series and BMK's
                                    biography that was launched recently.
                                </li>
                                <li>
                                    Acknowledge that income generation is not an automatic process but rather an active process that
                                    involves you making decisions.
                                </li>
                                <li>
                                    Above all, let's change our mental set up about the subject of money. There are good things
                                    money can do for us, and as yes; just like any other element, it can be used negatively.
                                </li>
                            </ol>
                            <h5 style="font-weight: bold;">Conclusion</h5>
                            <p>
                                It's a privilege to exist in Africa in this generation, where vast opportunities lie in the process
                                of developing Africa to reach the level of first world countries.
                            </p>
                            <p>
                                I do believe that God has already blessed us with the gift of life, it's upon us to bless ourselves
                                with the gift of a good one.
                            </p>
                            <p>
                                This is what I believe. This is my opinion. if the coverage interested you, let's raise a glass to
                                Bill Gates who said, "If you’re born poor it’s not your mistake, but if you die poor it’s your
                                mistake!"
                            </p>
                            <p>
                                For the CampusWeekly, I am Ocepa Amos aka Capt. Ceps; glad to join the team, writing for the
                                CampusWeekly. I encourage you all to come join us, exercise those skills you always wanted to take
                                out for a spin.
                            </p>
                            <p>
                                Get ready for thrilling and sensational poems, that will awaken the African men and women in us all.
                            </p>
                            <p>
                                Capt. Ceps
                                <br>
                                0782173154

                            </p>
                            <p>
                                <a href="https://twitter.com/WeeklyCampus/status/1384175751277125635" target="_blank"
                                    style="text-decoration: none; ">
                                    <i class="fa fa-twitter-square"></i>
                                    <span style="font-weight: bold;">Story On Twitter</span>
                                </a>
                            </p>


                        
                    </div>          
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>