<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">MY DECISION TO STUDY PSYCHOLOGY AT LIRA UNIVERSITY</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/sera.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Kwerit Sarah Chebijirah
                                </span>
                                <img class="img-fluid" src="images/sera1.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                    
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">T</span>he world is made up of 7 billion people with the power to make or break society, therefore, the 
                                most important topic area you could ever study is these people. When someone asks me what 
                                Psychology is I tell them it is the science of the most complex machine on this planet, the mind. 
                                The complexity and the mystery which enshrouds the human mind has always appealed me.

                            </p>
                            <img class="img-fluid" src="images/brain1.jpg" alt="image" style="">
                            <p>
                                For as long as I can remember, I knew that I wanted to make a difference in the world. 
                                Psychology has been a part of my life indirectly for many years, from something as insignificant 
                                as watching my peers behaviors to counselling session for a friend with emotional trauma. I have 
                                had a real desire to work with people for a long time and have always been fascinated with 
                                human behavior and understanding how the mind works, in order to empower individuals to live 
                                better lives.
                            </p>
                            
                            <img class="img-fluid" src="images/happy.jpg" alt="image" style="">

                            <p>
                                While at high school I was always on the search for marginalized students. Having 
                                studied at a secondary school that had a section for students with special needs, I always found 
                                myself spending a lot of time there trying to understand the world from their point of view . My 
                                desire was to deeply understand them for who they were and to make them feel comfortable in 
                                every possible way I could. I always felt a deep sense of satisfaction from them being able to 
                                overcome life challenges and seeing them happy.
                            </p>
                            <img class="img-fluid" src="images/counselling.jpg" alt="image" style="">
                            <p>
                                On several occasions, I took off time from my own schedule to talk to friends at school that were 
                                facing academic challenges. I would counsel my peers and in turn observe positive behavioral 
                                changes. The idea of studying Psychology was further reinforced during my Advanced level 
                                studies when I was elected President Students Council. I used this position to hold several 
                                psychosocial peer counseling programs. This programs benefited many students at school since 
                                they were able to make informed decisions about social and academic issues. And when I was 
                                offered community Psychology at Lira University. I knew that it was the perfect course for me.
                            </p>
                            <img class="img-fluid" src="images/psych.jpg" alt="image" style="">
                            <p>
                                I am optimistic that by the end of my study in this program, I will be in position to carry out 
                                analytical research on areas of interest in different communities as well as recommend effective 
                                solutions that are centered on bringing about long term solutions. I have high hopes of acquiring 
                                skills to handle the worst case scenarios as well as recommend viable solutions for such 
                                circumstances.
                            </p>
                    
                            <img class="img-fluid" src="images/anger.jpg" alt="image" style="">
                            <p>
                                I have particular interest in revolutionarising the negative perspective society has towards the ill 
                                people. Individuals diagnosed with mental illnesses experience some of the worst prejudice and 
                                discrimination. They are often violence victims and constantly come face-to-face with the 
                                harmful stereotypes that state that these individuals are violent and unpredictable. And therefore 
                                much research needs to be done to understand the cause of such distress, as well as to develop 
                                effective interventions and achieve health minds.
                            </p>
                            <img class="img-fluid" src="images/sick.jpg" alt="image" style="">
                            <p>
                                It is my hope that, through increased research and advocacy, society can come to understand that 
                                extreme distress is often a message about something that is wrong in a persons health, and as 
                                such, is profoundly meaningful and can be understood. By understanding the psychosocial origins of distress like trauma, poverty, inequality we can refocus and create policies that protect 
                                against these stressors in the first place. 
                            </p>
                            <img class="img-fluid" src="images/irony.jpg" alt="image" style="">
                            <p>
                                It seems that the greatest situational irony is encountered in life itself. We live in a world filled 
                                with hurt and suffering, and a place that is not equal for all. My dream is to leverage my unique 
                                set of skills, abilities, privileges, resources, and knowledge in a way that increases equality and 
                                privilege for all.
                            </p>
                            <img class="img-fluid" src="images/driving.jpg" alt="image" style="">
                            <p>
                                I want to be known as the girl who kept moving forward, went above and beyond, and never 
                                looked back. My driving force is making my family proud and reaching my ultimate goal—
                                working up to my doctorate and becoming a psychiatrist, fulfilling every opportunity and 
                                experience that comes my way as well as bettering communities and the lives of those in these 
                                communities.
                            </p>
                            <p>
                                For the CampusWeekly, I am Kwerit Sarah Chebijirah.
                            </p>
                            
                        
                    </div>              
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>