<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">POWERLESS</h1>

                    <hr style="width: 100%; border: 10px solid #051e58;">
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/parental.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                            <i class="fa fa-edit"></i> Story From
                            <a href="https://adventuresoflukard.herokuapp.com" target="_blank"
                                style="text-decoration: none; ">Lukard
                                Adventures</a>
                            <img class="img-fluid" src="images/lukardlogo.jpg" alt="lukard"
                                style="width: 40px; margin-top: -15px; border-radius: 100%;">
                        </h6>
                        </div>
                    </div>
                    
                    <div class="row padding">
                        

                            <p>
                                Some days are not exactly that great – at campus! Yeah, to be fair, most of them are fun; I mean for
                                those at campus or gone through campus you know what I am talking about. Every class you take is
                                your very own decision.
                            </p>
                            <img class="img-fluid" src="images/chill.jpg" alt="image" style="">
                            <p>
                                No pressure! It’s just you and your results. No one is going to push you. Worse if you live in
                                hostels, you are living the dream! One would say it’s the best feeling ever in anyone’s life. No,
                                just look at it; you don’t have parents telling you what to do and when to do it, no curfew from
                                them, but they still pay for tuition and all your other bills.
                            </p>

                            <p>
                                It’s like dating a rich guy who won’t ask for any goodies in return. You just enjoy the privileges
                                to the highest level of fun you can handle! No point at any other time in your life will you be in
                                the same position as this! No my friend, this is the best feeling in the world.
                            </p>
                            <p>
                                And the lecturers! Oh! They just come to do their thing. They never interfere with your business.
                                You wanna attend, you attend; if you don’t feel like it, you don’t! Well, there are some who
                                everyone knows that you don’t ever miss their class.
                            </p>
                            <p>
                                Oh, those ones who explicitly tell you exactly how they will fuck you up if you dare miss any of
                                their classes! They always have full attendance every lesson. They are ruthless. I can’t really say
                                why but many a times it so happens that these very lecturers have most of their lectures in the
                                morning sessions.
                            </p>
                            <img class="img-fluid" src="images/anger.jpg" alt="image" style="">
                            <p>
                                So, a fellow like me has to be sober enough the nights before their morning lectures to drag their
                                ass into the attend-or-die morning discussions with the ‘sweet’ lecturer.
                            </p>
                            <p>
                                Yeah, it was one of these mornings! I woke up, of course very early as the trend was on such a day.
                                Got my ass up, brushed the enamel; had about fifty push-ups, a few stretches and a shower –
                                generally it was the usual morning routine, only a bit earlier I would say!
                            </p>
                            <p>
                                I was dressed and out on the road in no time where I met the crew headed to the same ‘sweet’
                                session. Because it was so damn early, we all walked casually – cracking jokes, laughing and all.
                                Again, all still the usual routine on the road.
                            </p>
                            <img class="img-fluid" src="images/136.jpg" alt="image" style="">
                            <p>
                                With the jokes and the best crew of guys in the world, you laugh your lungs out and you can’t even
                                notice the journey you cover on road. You only notice that you have arrived when you hit the doorway
                                to the lecture room.
                            </p>
                            <p>
                                It was just about a few moments later after we had already entered that I realized I hadn’t carried
                                a pen and shit for the session after the ‘sweet’ morning lecture. It wasn’t a big deal at the time.
                                I mean, it was still so early in the morning. There was really no cause for panic.
                            </p>
                            <p>
                                “Well fuck it, it isn’t that late. I can still go back and pick it up,” I told myself. “In as much
                                as I can get a pen from any of my mates, I wouldn’t exactly love the experience of walking down
                                after the morning session to pick the other shit up.”
                            </p>
                            <p>
                                It made perfect sense, the sun always got hotter after the early morning session. Walking down and
                                then back to the lecture room would just fuck up my fragrance for the day.
                            </p>
                            <p>
                                The decision was made; I told my mates to keep a look out for my bag as I sloped down for the shit.
                                Of course, they had to laugh at me for my fuck up. How would I have forgotten to pack everything I
                                needed for the entire morning! I had never forgotten it before; I don’t really remember why it
                                slipped my mind that morning but it did.
                            </p>
                            <p>
                                So I sloped back down now with earpieces in my head, moving with the beat. It was a simple thing; go
                                pick it up and then, fucking walk the same gad damn distance back to the lecture room. Fuck! It was
                                so damn annoying but a simple task nonetheless, you know.
                            </p>
                            <p>
                                Again, like an asshole, I only realized I had left my room keys in the bag when I was just about to
                                enter the hostel gate. The distance between campus and my hostel is quite a good one I must tell
                                you. Shit! It was now a streak.
                            </p>
                            <img class="img-fluid" src="images/check3.jpg" alt="image" style="">
                            <p>
                                It was like I was hell bent on messing my entire morning that day. At that time, it began dawning on
                                me that if I didn’t get my ass back in line, I was going to get fucked by the ‘sweet’ lecturer.
                            </p>
                            <p>
                                That was when I lost it. “Fuck! Now I have to walk back to campus; pick my keys, come back to
                                hostel, pick the shit for the second session and then fucking walk back to campus!” now, there was
                                definitely some need to panic.
                            </p>
                            <p>
                                “How about,” I thought, “I just get the hell back to campus, I will maybe come back to pick my stuff
                                later after the ‘sweet’ lecture.”
                            </p>
                            <p>
                                “Hold on,” my head was still contributing, “you have already reached hostel. And as long as you are
                                still in the premises, it wouldn’t exactly be a bad idea to check whether there isn’t anyone still
                                in their rooms; who wouldn’t mind helping you out with the shit you need for session two!”
                            </p>
                            <p>
                                “Well, plus a pen too, you know!” my brain was on fire, trying to save my stupid ass from the messy
                                morning that was lining itself up ahead of me. The idea didn’t sound so bad at all. Again, it made
                                perfect sense at the moment. So I was like, “fuck it! Let’s do exactly that.”
                            </p>
                            <p>
                                I henceforth began walking through the hostel; trying to scope for any room that sounded like its
                                occupant was availably present at the time, so that I could download my problems onto them. I had
                                just made about three steps when I remembered something that gave me a very wide smile of hope.
                            </p>
                            <p>
                                I couldn’t control myself anymore; I just began running. I remembered that one of my friends in the
                                same hostel never had a lecture in the morning on that day. This was the very first time this very
                                point ever gave me such a wide smile. I felt saved by the very point she always pissed on us about!
                            </p>
                            <p>
                                This friend of mine always fucked with us about being pussies; waking up so early because of a
                                single lecturer. “A single lecturer, for fuck’s sake!” she always added. “Why would anyone fear a
                                human being to that extent?”
                            </p>
                            <p>
                                A question we quite never seemed to give a satisfying answer however much we tried. She always just
                                kept on laughing at us, little pussies as she always called us!
                            </p>
                            <p>
                                Being so sure she was always in her room at that time of that very day, I just couldn’t control the
                                urge to start off running towards her room. So from the gate, I start running and just when I had
                                just made the first corner to the rooms, I saw her shoes outside her room. Now, I was so damn sure
                                she was in there.
                            </p>
                            <p>
                                I always knocked on any of my friends’ doors, waited for them to open, before I entered – my mother
                                raised a gentleman – but I don’t really know what happened that time.
                            </p>
                            <p>
                                I don’t know whether it was the high hope of being saved from a messy morning or the very fact that
                                we were always so free with this particular friend of mine; can’t really tell!
                            </p>
                        
                            <p>
                                Reducing speed, reached her room; removed my shoes, knocked and entered at the same time! Yeah, she
                                was to be my savior for that day. Little did I know! There was no way! No way in a million years!
                                Totally no way would I have imagined a series of events taking place in an order like that which
                                they took when I entered that room.
                            </p>
                            <p>
                                Pushing the door behind me, turning to face forward and check for her; I took one good look and
                                froze in the moment! All my muscles were stoned into position. My entire nervous system broke down.
                            </p>
                            <p>
                                I was so shocked I lost all sense of touch and feeling. I felt numb, whatever any of that means! My
                                mind couldn’t exactly place that event in any probable happenings in its calculations.
                            </p>
                            <p>
                                Right in the middle of the room, Jane – name chosen for the sake of confidentiality, stood still and
                                looked back at me. There was no way I would have thought I would find her in that state; she never
                                did it in that time, at least not in all the other days.
                            </p>
                            <p>
                                This was my friend. I knew most of Jane’s programs. It always came up in conversation.
                                <br><br>
                                <span style="font-weight: bold; color: red;">
                                    The rest of the content is rendered
                                </span> 
                                <br>
                                PG Advisory!
                            </p>
                            
                            <p>                
                                &copy;LUKARD
                            </p>
      
                    </div>          
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>