<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THIS WEEK ON CAMPUS WEEKLY</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/news4.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <h5 style="font-weight: bold;">Sat-19/06/21 Police chase people out of Kampala City</h5>
                            <div>
                                <iframe width="100%" height="409" src="https://www.youtube.com/embed/hnHhQXAftiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">S</span>aying that this has been a rather interesting week would be an extremely unfairly statement to so many! Well, let’s just take a lens! And look at events going backwards throughout this entire week.

                            </p>
                            <h5 style="font-weight: bold;">H.E President's Address on 18th June, 2021  </h5>
                            <img class="img-fluid" src="images/museveni.jpg" alt="image" style="">
                            <p>
                                First off would be the just concluded address by H.E the President on the new measures to combat the virus. At exactly 8:00 pm on the night of Friday, 18th June, 2021 the President of the Republic of Uganda was live on air addressing the nation. 
                            </p>
                            <p>
                            The address was following the recent unprecedented rise in the number  of confirmed COVID cases tested in the country. This saw the president tighten the already established directives, citing for instance that the motor cycles which were previously allowed to carry only one passenger are now to carry only cargo.
                            </p>
                            <p>
                                Revising of these measures was explained by H.E the President to have been necessitated by the need to fill up any loopholes that would allow for the virus spread within the country.
                            </p>
                            
                            <p>
                                This was definitely not the best of news to the business men and women in the country. The new revised guidelines are to take effect for the next 42 days, the timer set off immediately after the President’s address.
                            </p>
                            <div>
                                <iframe width="100%" height="409" src="https://www.youtube.com/embed/mXnijeguVI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <p>
                                More on the same, Visit: 
                                <a href="https://www.independent.co.ug/uganda-new-42-day-lockdown-starts-immediately/"
                                    class="btn btn-outline-primary">The Independent
                                </a>
                            </p>
                            <h5 style="font-weight: bold;">Thursday, 17th June, 2021 </h5>
                            <p>
                                Taking a step back to look at Thursday, the 17th June, 2021, the feel and environment wasn’t so different. As this day housed a number of different sad stories on a number of different levels.
                            </p>
                            <h5 style="font-weight: bold;">Kenneth Kaunda, of Zambia, Dies at 97 </h5>
                            <img class="img-fluid" src="images/kenneth-kauma.jpg" alt="image" style="">
                            <p>
                                On this day, the 17th of June, 2021, the world lost one of the strongest political figures in Africa – Kenneth Kaunda, the former and first president of Zambia, serving from 24th October, 1964 to  2nd November, 1991 in that office.
                            </p>
                            <p>
                                His death, at 97, at a military hospital where he was being treated for pneumonia, was announced by the president of Zambia, Edgar Lungu. Zambian authorities declared 21 days of mourning.
                            </p>
                            <p>
                                For a deeper look on the matter, tap on 
                                <a href="https://www.nytimes.com/2021/06/17/world/africa/kenneth-kaunda-patriarch-of-african-independence-is-dead-at-97.html"
                                    class="btn btn-outline-primary">The New York Times
                                </a>
                            </p>
                            <h5 style="font-weight: bold;">Dr. Catherine Anena, Senior Lecturer, MUK, left us</h5>
                            <img class="img-fluid" src="images/anena.jpg" alt="image" style="">
                            <p>
                                From Zambia, coming back to Uganda, news came in from our brothers at Makerere, losing one of their senior lecturers, a one Dr. Catherine Anena. A very heartful moment that we deeply share with our education brothers and sisters. May her soul rest in eternal peace!
                            </p>
                            <p>
                                More details from our brothers, on 
                                <a href="https://campusbee.ug/news/painful-fallen-makerere-lecturer-had-celebrated-birthday-days-ago-here-is-her-last-emotional-facebook-post/"
                                    class="btn btn-outline-primary">Campus Bee
                                </a>
                            </p>
                            
                            
                        
                            <h5 style="font-weight: bold;">Parliament Rejects Kaboyo Ministerial Appointment</h5>
                            <img class="img-fluid" src="images/kaboyo.jpg" alt="image" style="">
                            <p>
                                You would think Thursday was done bearing the sad news! I am sure Alice Kaboyo would disagree with you. 
                            </p>
                            <p>
                                Alice Kaboyo, a former State House aide is among the several ministers that the President appointed to serve in cabinet on the 8th of June, 2021. Her sadness follows the Parliament Appointments Committee declining to approve her appointment, as the Minister of State in the Office of the Prime Minister for Luwero Triangle-Rwenzori region.
                            </p>
                            <p>
                                For a dive into it, visit 
                                <a href="https://www.independent.co.ug/parliament-rejects-kaboyo-ministerial-appointment/"
                                    class="btn btn-outline-primary">The Independent
                                </a>
                            </p>               
                            <h5 style="font-weight: bold;">Wed, 16th June, 2021 - Approval of Ministers</h5>
                            <img class="img-fluid" src="images/frank-tumwebaze.jpg" alt="image" style="">
                            <p>
                                Unlike the misfortunes that fell Alice Kaboyo, by the morning of Wednesday, the 16th of June, 2021,  a total of 20 Ministers had been vetted, cleared and approved by the Parliament Appointments Committee.
                            </p>
                            <p>
                                For a very enrishing dive and discovery into the matter, visit 
                                <a href="https://www.monitor.co.ug/uganda/news/national/mps-approve-20-ministers-3439644"
                                    class="btn btn-outline-primary">The Daily Monitor
                                </a>
                            </p> 
                            <h5 style="font-weight: bold;">Boda boda rider shot dead at security checkpoint</h5>
                            <img class="img-fluid" src="images/boda-rider-shot.jpg" alt="image" style="">
                            <p>
                                Monday through to Tuesday, 15th June, 2021 saw the story of a boda boda rider shot dead at a security check point.
                            </p>
                            <p>
                                John Kugonza, a resident of Nyasonzi village in Mugusu town council in Kabarole District was shot by a security operative in UPDF uniform at Kibede trading centre, a few meters away from Mugusu town where security had and still has, put a checkpoint to enforce the travel ban for Kabarole and Bunyangabu districts.
                            </p>
                            <p>
                                For the complete story on his demise on Monday, 
                                <a href="https://www.monitor.co.ug/uganda/news/national/covid-19-rules-boda-boda-rider-shot-dead-at-security-checkpoint-3437268"
                                    target="_blank" class="btn btn-outline-primary">In The Daily Monitor
                                </a>
                            </p>
                            <p>
                                More details on Tuesday of the widow mourning, from  
                                <a href="https://www.monitor.co.ug/uganda/news/national/widow-mourns-husband-killed-by-soldier-over-covid-rule-3439386"
                                    target="_blank" class="btn btn-outline-primary"> The Independent
                                </a>
                            </p>
                            <p>
                                Stay tuned. For the CampusWeekly, I am Lukenge Benard. Welcome to the Lockdown!
                            </p>

                            <p>
                                &copy;LUKARD
                            </p>
                    
                    </div>                   
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>