<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THIS WEEK ON CAMPUS WEEKLY</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/news1.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                    
                            <h5 style="font-weight: bold;">06/06/2021: H.E The President's latest address on the second wave of COVID-19 </h5>
                            <div>
                                <iframe width="100%" height="360" src="https://www.youtube.com/embed/fd-HJJQOWvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                            </div>
                            {{!-- <img class="img-fluid" src="images/karumaB.jpg" alt="image" style=""> --}}
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">T</span>he previous week saw Lira University on-going students (all with the exception of the first years and finalists) muscle through a one week’s examination season that was supposedly leading to another one week’s version of the same for the first years and the finalists.
                                &nbsp;

                            </p>
                            <p>
                                Course units were being swallowed one by one so fast that the second week group knew the storm was coming for them too. Many of these were seen taking the turns to read and make those final touches in those areas they were still dragging.
                            </p>
                            <p>
                                All this came to a surprise stand still on the night of Sunday, the 6th June, 2021. Well, to some, it wasn’t really a surprise per say! This special night housed the President’s address to the nation in response to the so called second wave of the famous COVID-19 pandemic in Uganda.
                            </p>
                            <p>
                                The address putting a stop to almost all-things-student announced the immediate closing of all institutions effective the following morning, Monday, the 7th June, 2021. In the same folder as this directive was a full set of guidelines from H.E The President. 
                            <p>
                                Details of the same From The Daily Monitor, 
                                <a href="https://www.monitor.co.ug/uganda/news/national/museveni-suspends-schools-churches-bans-public-transport-between-districts--3427972" target="_blank"
                                    class="btn btn-outline-primary">click to venture!
                                </a>
                            </p>
                            </p>
                            <h5 style="font-weight: bold;">LOCKDOWN VERSION 2.0</h5>
                            <img class="img-fluid" src="images/museveni.jpg" alt="image" style="">
                            <p>
                                Institutions all closed, students from all over the country were given up to Thursday, the 10th June, 2021 to arrange for travel to their respective homes in preparation for the to-be-enforced second version of the LOCKDOWN!
                            </p>
                            <p>
                                No transport from one district to another! With the recent citing of COVID-19  cases within schools themselves, a move had to be made. All at a time when the country  hadn’t a cabinet! Sending students home and calling for a lockdown has really been a serious discussion all around the country.
                            </p>
                            <p>
                                "Was it necessary? Well, if you think about it, maybe it was! I mean, scared of covid cases in schools, huh? Do you want to get them out of the schools? Solution! Carry the virus and take it all to the Homes. And there you go; no virus in schools now! And then lock all of them down! You know what? How about we just close off the districts? They should loiter around, but not out of their districts." one furious citizen mentioned!
                            </p>
                            
                            <p>
                                Sorry about that. With all the fury, please let's follow the directives and guidelines to the letter. Back to the flow of the week! Students being sent back to their homes in such a short reaction time became real business for the Travel Industry – The Transport Sector – The Buses. Public transport! Transport fares that were once in the ranges of about Shs. 40,000 hiked to as high as Shs. 150,000.
                            </p>
                            <h5 style="font-weight: bold;">PUBLIC TRANSPORT, CRITICAL AS STUDENTS GLIDE HOME</h5>
                            <img class="img-fluid" src="images/traffic.jpg" alt="image" style="">
                            <p>
                                With all the students boarding to go back to their homes, it was such a normal occurrence for all the taxi parks and the bus parks to be completely filled with uniforms of all the learners the country has got, all through from Monday to Wednesday, the 9th June, 2021. The traffic jam that came as a result was just as well not a surprise. Well, the hiked transport fare for some groups was definitely a surprise; but definitely not a shock!
                            </p>
                            <p>
                                Supposedly, it’s why students still managed to avail the hiked transport requirements. They seemed to understand the situation, in as much as they were very much, too furious in the process; they still paid the said prices and boarded! It all seemed unfair. 
                            </p>
                            <p>
                                Well, some smiles came in when news of the police arresting some of these bus officials who were enormously harvesting from this tragedy reached the cheated students and guardians. Furthermore, the government ordered these companies to refund the sums that were hiked back to the affected passengers.
                            </p>
                            <p>
                                For the details, from The NewsDay 
                                <a href="https://newsday.co.ug/2021/06/08/police-arrests-bus-owners-offers-free-transport-to-stranded-upcountry-students/"
                                    target="_blank" class="btn btn-outline-primary">Click.
                                </a>
                            </p>
                            <p>
                                More details, from The Independent 
                                <a href="https://www.independent.co.ug/students-curfew-lifted-to-enable-buses-taxis-travel-late/"
                                    target="_blank" class="btn btn-outline-primary">Click.
                                </a>
                            </p>
                            <p>
                                From The Daily Monitor 
                                <a href="https://www.monitor.co.ug/uganda/news/national/police-evacuates-stranded-students-as-buses-hike-fares-3431628"
                                    target="_blank" class="btn btn-outline-primary">Click.
                                </a>
                            </p>
                            <p>
                                In The Nile Post 
                                <a href="https://nilepost.co.ug/2021/06/08/travellers-stranded-as-bus-operators-hike-charges/"
                                    target="_blank" class="btn btn-outline-primary">Click.
                                </a>
                            </p>
                            
                        
                            <h5 style="font-weight: bold;">PRESIDENT APPOINTING MINISTERS</h5>
                            <img class="img-fluid" src="images/Robinah-Nabbanja.jpg" alt="image" style="">
                            <p>
                                Tuesday, the 8th June, 2021 saw H.E The president, by virtue of the authority given to the President of Uganda by Articles: 108(2), 108A(1), 113(1) and 114(1) of the 1995 Constitution of the Republic of Uganda, appoint H.E the Vice President, Rt. Hon. Prime Minister, Honourable Cabinet Ministers and other Ministers.
                            </p>
                            <p>
                                As with most of the stories this week, this too gave birth to a very wide and deep discussion across all platforms, social and news media! Major discussions around the appointments of the Vice President and the Prime Minister; both being women!
                            </p>
                            <p>
                                Appointed for the office of the Vice president and the Prime Minister, is Hon. Jessica Alupo and Hon. Robinah Nabbanja, respectively. Women in such high appointment positions are still cited in offices such as 1st Deputy Prime Minister and Minister for East African Community Affairs, to be held by Hon. Rebecca Kadaga.
                            </p>
                            <p>
                                Hon. Lukia Nakadama for 3rd Deputy Prime Minister and Minister without Port-folio. Hon. Museveni Janet Kataaha for Minister of Education and Sports. The list goes on and on, seeing H.E the President surrounding himself with the advice of our mothers this time round!
                            </p>
                            <p>
                                For a dive into the details, from The Daily Monitor 
                                <a href="https://www.monitor.co.ug/uganda/news/national/who-is-who-of-the-proposed-ministerial-appointees--3430010"
                                    target="_blank" class="btn btn-outline-primary">Click.
                                </a>
                            </p>
                            <p>
                                More details, still from The Daily Monitor 
                                <a href="https://www.monitor.co.ug/uganda/news/national/museveni-new-cabinet-members-are-loyal-hardworking-3432746"
                                    target="_blank" class="btn btn-outline-primary">Click.
                                </a>
                            </p>
                            <h5 style="font-weight: bold;">READING OF THE 2021/2022 FINANCIAL YEAR BUDGET</h5>
                            <img class="img-fluid" src="images/budget-fy.jpg" alt="image" style="">
                            <p>
                                Gasping for air! No, that wasn’t part of the sanctioned activities this week. This week gave no one time or chance to take a breath or even a break. As we were still trying to process all that had already taken place, from Sunday; Thursday, the 10th June, 2021 hosted the Budget Speech, Financial Year 2021/22. 
                            </p>
                            <p>
                                With theme – Industrialization for Inclusive Growth, Employment and Wealth Creation – the budget speech was delivered by Hon. Amos Lugolobi, MP Ntenjeru North.
                            </p>
                            <p>
                                For an exquisite scrutiny into the details, from nbs 
                                <a href="https://nbs.ug/2021/06/the-uganda-national-budget-2021-2022-reading-underway/"
                                    target="_blank" class="btn btn-outline-primary">click.
                                </a>
                            </p>
                            
                            <p>
                                And from the Daily Monitor 
                                <a href="https://www.monitor.co.ug/uganda/news/national/live-budget-reading-for-financial-fy-2021-2022-3432506"
                                    target="_blank" class="btn btn-outline-primary">click.
                                </a>
                            </p>

                            <h5 style="font-weight: bold;">PROGRAM FOR SEMESTER 2 ONLINE STUDIES OUT </h5>
                            <img class="img-fluid" src="images/sem2online.jpg" alt="image" style="">
                            <p>
                                Closing in towards the weekend, Friday, the 11th June, 2021 saw the office of the Academic Registrar, Lira University provide a program – Academic Calendar – to cater for online studies for semester II, 2020/2021 Academic Year, citing that the Online Delivery of Lectures starts on the 21st June, 2021.
                            </p>
                            <p>
                                Stay tuned. For the CampusWeekly, I am Lukenge Benard. Have a great weekend!
                            </p>

                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Documents 
                        </h4>
                        
                    </div>
                    <div class="row padding">
                        <div class="col-md-12 col-lg-6">
                            <img class="img-fluid" src="images/l1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <img class="img-fluid" src="images/l2.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <img class="img-fluid" src="images/l3.jpg" alt="image" style="">
                        </div>
                    </div>             
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>