<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THIS WEEK ON CAMPUS WEEKLY</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/news.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <h5 style="font-weight: bold;">FUEL TANKER TRUCK PLUNGES INTO R. NILE </h5>
                            <img class="img-fluid" src="images/karumaB.jpg" alt="image" style="">
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">E</span>nding the past week;
                                Saturday, 24th April, 2021 saw a fuel tanker truck plunge into R. Nile at Karuma Bridge killing two
                                people. These were believed to be the driver and the turn man for the vehicle, registration number
                                UAS 337M, trailer number MMF 450.

                                &nbsp;
                            <p>
                                For the Complete Story, from newvision
                                <a href="https://www.newvision.co.ug/articledetails/99548" target="_blank"
                                    class="btn btn-outline-primary">Click to Read More
                                </a>
                            </p>

                            </p>
                            <h5 style="font-weight: bold;">FRESHERS RECEIVE THEIR GOV'T PORTION</h5>
                            <img class="img-fluid" src="images/money.jpg" alt="image" style="">
                            <p>
                                The story was covered by all news outlets and it didn’t look any good for all those involved. A bad
                                beginning does make a good ending; because Tuesday, 27th April, 2021 found the year one government
                                students jubilating the Passover from the long seasons of drought in their pockets.
                            </p>
                            <h5 style="font-weight: bold;">KING'S COLLEGE BUILDING BURNS </h5>
                            <img class="img-fluid" src="images/kingsfire.jpg" alt="image" style="">
                            <p>
                                The smile didn’t really last that long as they were interrupted with the saddening news that our
                                younger brothers and sisters from King’s College Budo had had a very terrible fire burn down Grace
                                House – one of the girls’ dormitories.
                            </p>
                            <p>
                                For the Complete Story, from the DailyMonitor
                                <a href="https://www.monitor.co.ug/uganda/news/national/fire-burns-dormitory-at-kings-college-budo-3378168"
                                    target="_blank" class="btn btn-outline-primary">Click to Read More
                                </a>
                            </p>

                            <h5 style="font-weight: bold;">SWAP FROM PHYSICAL TO ONLINE LECTURES </h5>
                            <img class="img-fluid" src="images/elearning.jpg" alt="image" style="">
                            <p>
                                I would love to mention that this was followed by some joyous revelation to cover up the sadness,
                                but no! Here at campus, this was the very last week the finalists were gonna enjoy the physical
                                face-to-face lectures. News not very pretty to the finalists who have been bossing the lecture
                                rooms.
                            </p>
                            <p>
                                Yes, starting this coming week, there’s going to be a swap! Those who have been having physical
                                lectures are now scheduled to have online lectures from now on and true also is the vice versa.
                            </p>
                            <h5 style="font-weight: bold;">WEEKEND EVENTS</h5>
                            <img class="img-fluid" src="images/cooldown.jpg" alt="image" style="">
                            <p>
                                Well, there surely was, some glimpse of light – I want to say, at the end of the tunnel – but yeah,
                                at the very end of the week. Yes, this Saturday, the 1st of May, 2021, some serious number of joyous
                                activities were organized.
                            </p>
                            <p>
                                Day hijacked by the Public Health Students team who called all students and University staff to join
                                in on what they called “The Public Health Run”. A marathon that set off at exactly 8:00am, very much
                                turned out to be exactly that that the entire University population needed.
                            </p>
                        
                            <h5 style="font-weight: bold;">PUBLIC HEALTH RUN </h5>
                            <img class="img-fluid" src="images/marathon.jpg" alt="image" style="">
                            <p>
                                Yes, it was a “Run For Water” but it very much turned out to be very interesting. The participants
                                testified on having a lot of fun. One student even told the Campus Weekly that he wouldn’t have
                                known he wasn’t any fit any more if it wasn’t for this marathon.
                            </p>
                            <p>
                                The marathon was summarized with a cooling down session of stretching that was even way more fun, as
                                the participants were seen cracking their bones back into shape. It was a very fun filled scenery.
                                You just had to be there!
                            </p>
                            <h5 style="font-weight: bold;">MIDWIFERY CAREER TALK</h5>
                            <img class="img-fluid" src="images/midwifetalk.jpg" alt="image" style="">
                            <p>
                                As the marathon took its turn winding up, the Career talk for the Midwives also set its program in
                                motion. Inviting all the necessary Panelists; Mr. Ssewankambo Usaama, the President – Lira
                                University Midwifery Society (LUMS), reported to the Campus Weekly that he intended to answer the
                                unanswered questions in their professional journey.
                            </p>
                            <p>
                                The Career Talk having Dr. Ocen Laury Lawrence (PhD) as their guest of honour with a team of
                                panelists including Ms. Auma Anna Grace, Ms. Bonnie McLellan and Mr. Udho Samson, the patron LUMS,
                                was a platform for the midwifery students to ask those questions they always wanted to ask. Getting
                                answers from the most qualified to answer of all personnel.
                            </p>
                            <p>
                                In attendance also was Prof. Komakech Edward, the Dean of Faculty – Nursing and Midwifery. The
                                program arranged at the Lira University Teaching Hospital Grounds had a very good attendance with
                                students leaving no questions un-asked!
                            </p>
                            <p>
                                The Talk took its peak in the afternoon with students getting more and more engaged in the entire
                                program and the panelists giving all the advice they had under their sleeves to the entire midwifery
                                committee.
                            </p>
                            <div>

                                <iframe width="100%" height="300" src="https://www.youtube.com/embed/tV98V8Xrmfs"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>


                            <h5 style="font-weight: bold;">PHL CAREER TALK & MOVIE NIGHT</h5>
                            <img class="img-fluid" src="images/projector.jpg" alt="image" style="">
                            <p>
                                At the very peak of this event, the Public Health students were also not just seated. No, they were
                                still cooking up more magic for the day. Because from the shower rooms after the marathon, they also
                                organized and dressed up for a Public Health Career Talk too.
                            </p>
                            <p>
                                This too took place in the afternoon and a movie night they organized starting at exactly 7:30 pm at
                                the Public Health block. These giants really hijacked the entire day. Hats off! Yes, hats off for
                                the Public Health Team.
                            </p>
                            <h5 style="font-weight: bold;">SUNDAY ASPIRATIONS</h5>
                            <img class="img-fluid" src="images/allsports.jpg" alt="image" style="">
                            <p>
                                Saturday was real fun. But my dearest, do not be fooled! Because come tomorrow, Sunday is going to
                                show you what real fun is. You will never check your dictionary for its meaning ever again. The
                                competitions between The Freshers and The Ongoing Students.
                            </p>
                            <p>
                                Just stay tuned. Campus Weekly will bring you all that will take place. For the CampusWeekly, I am
                                Lukenge Benard. Have a good night.
                            </p>

                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Videos at
                        </h4>
                        <p>
                        <div>

                            <a href="https://www.youtube.com/watch?v=-yNG9hYMGL8" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; King’s College Fire

                            </a>
                        </div>
                        and
                        <div>

                            <a href="https://www.youtube.com/watch?v=tV98V8Xrmfs" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Mr. Udho Samson during Career Talk

                            </a>
                        </div>
                        </p>
                    </div>
                    
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>