<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">THIS WEEK’S EVENTS</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/news-events.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <h5 style="font-weight: bold;">FRESHERS’ BALL </h5>
                            <img class="img-fluid" src="images/fresher1.jpg" alt="image" style="">
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">J</span>oining in on the week with
                                smiles and energy from last week’s Saturday, this week’s Sunday, 2nd May, 2021 saw the Freshers face
                                off with the giants from the ongoing students in the different sports activities that were arranged.
                            </p>
                            <p>
                                Fair and square as the games were, the freshers didn’t really stand any chance of even tasting
                                victory in any endeavor. Not at the anger and affinity for the games that had accumulated throughout
                                the period that the ongoing students were home not touching any ball.
                            </p>
                            <p>
                                From engaging in games like chess, football and volleyball; the freshers were them seen matching to
                                the ceremonial grounds where they swore allegiance to the university throughout their stay in its
                                structures.
                            </p>
                            <p>
                                Yes, they were oriented; but this was initiation! Well, from there, the rest was history. The food,
                                the dance, the fun, generally, it was the freshers’ ball. Our cameras weren’t given the chance to
                                peep through to see “anti-social” zero distance dancing but yeah, the year ones definitely enjoyed
                                their day.
                            </p>
                            <h5 style="font-weight: bold;">INNOVATION WORKSHOP</h5>
                            <img class="img-fluid" src="images/innov1.jpg" alt="image" style="">
                            <p>
                                Blowing past Monday, Tuesday, the 4th of May, 2021 was a very significant one for the innovative
                                community of Lira University as it was the blessed day that housed the Innovations Workshop that
                                took place at Gracious Palace Hotel.
                            </p>
                            <p>
                                The Workshop brought in all the necessary authorities to avail to the student innovators the new
                                ways of doing things. Authorities like our very own, the Deputy Vice Chancellor Academic Affairs,
                                Prof. Okaka Opio Dokotum (PhD) who was the Chairman for the entire discussion.
                            </p>
                            <p>
                                In the room were also librarian authorities that included, Mr. Ojulong Andrew, the Ag. University
                                Librarian; Mr. Izaruku Ronald (Librarian I), Mr. Isaac Mukungu (Librarian II) and Ms. Ajwang Lydia
                                (Library Assistant I).
                            </p>
                            <p>
                                These were very elaborate as they explained to the attendees the workings of the Innovations Hub, a
                                portal for the student innovators to send in their ideas and innovations, registered and patented
                                through the very portal to stand a chance to obtain funding from the Erasmus+ European Union Program
                                under the AHEAD project.
                            </p>
                            <p>
                                It was this very day that the DVC first announced his interest in organizing for a magazine project.
                                Campus Weekly was honored to be in attendance of the entire session and is therefore glad to mention
                                with confidence that when it comes to student innovators, the administration has you all covered.
                            </p>
                            <p>
                                All you have to do is come up; with your ideas, prototypes and how you want the administration to
                                help you push further.
                            </p>
                            <h5 style="font-weight: bold;">INTERNATIONAL DAY OF THE MIDWIFE </h5>


                            <img class="img-fluid" src="images/midwifeday.jpg" alt="image" style="">
                            <p>
                                5th May, this week’s Wednesday was the International Midwives’ day. If you are any friends with
                                midwifery students at the university, you would know by now that the day really didn’t meet any of
                                the anticipation it was assigned.
                            </p>
                            <p>
                                The students actually had normal lectures! That seems normal to anyone else but not to the midwives
                                who felt that some special package would be organized on their day.
                            </p>



                    
                            <h5 style="font-weight: bold;">Malian woman gives birth to nine babies! Thursday. </h5>
                            <img class="img-fluid" src="images/ninebabies.jpg" alt="image" style="">
                            <br><br>
                            <p>
                                For the Complete Story, from the BBC NEWS
                                <a href="https://www.bbc.com/news/world-africa-56994408" target="_blank"
                                    class="btn btn-outline-primary">Click to Read More
                                </a>
                            </p>

                            <h5 style="font-weight: bold;">FIELD TRIPS</h5>
                            <img class="img-fluid" src="images/bus1.jpg" alt="image" style="">
                            <p>
                                Busy as days can get, Friday was surely the busiest of this week. Housing items like the first
                                magazine committee meeting that spanned from 10:00 am to 2:00pm, field trips for the year three
                                entrepreneurship students, and field work for the year three psychology students.
                            </p>
                            <p>
                                The entrepreneurship students were a joint group that included computer scientist and members from
                                the business courses, all finalists. Their field trip was quite an educational one as they visited
                                the Lira Industrial Centre discussing and learning from the entrepreneurs in the area about how they
                                made their business, the start ups and the challenges they faced throughout to this day.
                            </p>
                            <img class="img-fluid" src="images/Ivan-Ssempijja.jpg" alt="image" style="">
                            <p>
                                This very Friday announced the winning of the Makerere Guild Presidential race by Ivan Ssempijja.
                            </p>
                            <p>
                                For the Complete Story, from the INDEPENDENT
                                <a href="https://www.independent.co.ug/ivan-ssempijja-wins-makerere-university-guild-presidential-race/"
                                    target="_blank" class="btn btn-outline-primary">Click to Read More
                                </a>
                            </p>
                            <h5 style="font-weight: bold;">GRADUATION </h5>
                            <img class="img-fluid" src="images/grad1.jpg" alt="image" style="">
                            <p>
                                The weekend was painted with beauty as the students of Sexual Reproductive Health And Rights, a
                                workshop course taken from 24th April – 8th May, 2021 at Pauline Hotel – Lira Town by Masters
                                students; staff members, students from Gulu and Muni University, Health Workers from Local
                                Government, were all seen with smiles and dancing in celebration of completing the course.
                            </p>
                            <p>
                                The Guest of Honor for the graduation ceremony was The Vice Chancellor, Prof. Jasper Ogwal-Okeng.
                            </p>

                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Videos at
                        </h4>
                        <p>
                        <div>

                            <a href="https://www.youtube.com/watch?v=jq9fbFfmfTM" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Mr. Ojulong Andrew - Innovations

                            </a>
                        </div>
                        .
                        <div>

                            <a href="https://www.youtube.com/watch?v=nlA0NI4NfIg" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Dr. Judith Abal - Innovations

                            </a>
                        </div>
                        .
                        <div>

                            <a href="https://www.youtube.com/watch?v=duonDMeQNs0" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Prof. Okaka Opio Dokotum (PhD)

                            </a>
                        </div>
                        .
                        <div>

                            <a href="https://www.youtube.com/watch?v=duonDMeQNs0" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Mr. Isaac Mukungu - Innovations

                            </a>
                        </div>
                        .
                        <div>

                            <a href="https://www.youtube.com/watch?v=duonDMeQNs0" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Mr. Twesige Barnabas - AR

                            </a>
                        </div>
                        </p>
                    </div>                
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>