<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">SHE WON!</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/liz1.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                    
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">W</span>ith 65 votes, Ms. Nabakooza
                                Elizabeth beat Mr. Bitarinsha Yoramu who had 59 votes; making two significant records! She became
                                the first ever female Chief Fresher and the first ever Chief Fresher from Buganda.
                            </p>
                            <p>
                                When asked how she felt, Nabakooza Elizabeth told the CampusWeekly, “I feel so happy. I felt so
                                loved! It was a very close race, you know. I’m even out of words.”
                            </p>

                            <p>
                                “One thing for sure that I have to say is; thank you all, thanks for the love you showed me. I was
                                so honored. And just like I promised, I am willing to serve. Something I intend to fulfil to its
                                full extent! I am here for your service. Thank you!”
                            </p>
                            <p>
                                All votes were valid! Which is very interesting because; obviously, the 124 students who voted can’t
                                in any way be the entirety of the year one fraternity.
                            </p>
                            <p>
                                When asked about her take on this, she answered, “Most students weren’t at campus. Mobilization was
                                a real issue on the last minute! Motivating students to leave their hostels was a real situation,
                                for lack of a better word!”
                            </p>


                        
                            <p>
                                “Also; some students who turned up for the voting didn’t find their names in the registrar. Well, I
                                suppose this is why all the students were advised to turn up days before the voting day, to confirm
                                whether their names were registered.”
                            </p>
                            <p>
                                More than 400 ballot papers were printed and only 124 students were able to vote! This doesn’t look
                                very nice. Voting is a responsibility we all share; something we must take part in, as we grow into
                                full blown adults! The practice, just like any other, starts right here – at campus.
                            </p>
                            <p>
                                Let’s just hope that during the Guild Elections, the turn up is far better than this. For the
                                CampusWeekly, I am Lukenge Benard, wishing you the very best in this new week.
                            </p>
                            <p>
                                &copy;LUKARD
                            </p>
                            <p>
                                <a href="https://twitter.com/WeeklyCampus/status/1384132604899725329" target="_blank"
                                    style="text-decoration: none; ">
                                    <i class="fa fa-twitter-square"></i>
                                    <span style="font-weight: bold;">Story On Twitter</span>
                                </a>
                            </p>

                        
                    </div>
                    <div style="margin: auto; text-align: center;">
                        <h4 style="color: #051e58; font-weight: bold;">
                            Story related Videos at
                        </h4>
                        <p>
                        <div>

                            <a href="https://www.youtube.com/watch?v=emYrW0inIBc" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Nabakooza Elizabeth's Submission

                            </a>
                        </div>
                        and
                        <div>

                            <a href="https://www.youtube.com/watch?v=_TAAbGTLokA" target="_blank" style="text-decoration: none;"
                                class=" btn btn-outline-primary">

                                <i class="fa fa-youtube"></i>&nbsp; Mr. Ekung Emmanuel's Remarks

                            </a>
                        </div>
                        </p>
                    </div>                
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>
