<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">HOW MUCH ARE WE DOING AS STUDENT MIDWIVES </h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/inspired6.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by Aron Eryau
                                <img class="img-fluid" src="images/aa.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                        
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">W</span>hat can I say? You know
                                that little excitement that you get once you’ve just tweeted or posted a photo on Facebook, and many
                                people liked it! Well yeah, that's the exact kind of high I get every time a patient says thank you,
                                you were so helpful.
                            </p>
                            <p>
                                Am writing about domiciliary in a third world country, in the middle of a pandemic and a course
                                that's barely recognized in the whole country at all. Most times I look back and ask myself, “is
                                this truly it? Is this what brings you joy? Is this where you find meaning? Are you in the right
                                place?” And every time my gut gives me the same answer; ''you don't feel like a stranger here and
                                you know it!''
                            </p>

                            <p>
                                In my program, domiciliary is a requirement for you to complete your third year. Ideally, a client
                                is supposed to be followed right from the very first time they attend Antenatal care (ANC) till
                                about 6 weeks post-delivery. But honestly speaking, this is Uganda; no one has that much funding to
                                carry out such a project! Plus; no donor would be willing to fund such an initiative.
                            </p>
                            <p>
                                So here is what we do instead! We attend to pregnant women who arrive at the delivery room; confirm
                                active labour, monitor till delivery is complete. As long as it's a normal spontaneous vaginal
                                delivery (SVD) and the individual stays 10km radius from the hospital, that's a domiciliary case
                                that you'll follow for the next seven days.
                            </p>
                            <p>
                                I need to say that even with this development, following 4 or 5 mothers as a domiciliary case is not
                                as easy as it may sound. Domiciliary tries you; not just your ability to care for a woman during
                                childbirth! It tests you as a whole. I’m talking spiritually; economically, physically, emotionally,
                                your patience too! It tests you in all aspects as a human being.
                            </p>
                    
                            <p>
                                But here is what I learned. We have touched lives; changed the perception of many towards midwives,
                                made many realize men in midwifery are safe and can do even much better. I know one thing for sure;
                                with proper postnatal care, many hospitalizations of neonates in their first 28 days of life could
                                be avoided, should a proper system of community midwifery be developed in this country.
                            </p>
                            <p>
                                Many complications that post-natal mothers develop could be handled in the community without
                                reaching the hospital. I have come to know the importance of midwives in this country! We can do so
                                much more than just conduct deliveries; Be it a bachelor’s degree midwife, diploma or certificate.
                                We can touch lives just by being nice to patients – getting them the help they need. How one handles
                                a client can affect the perception of many towards us as an entire profession.
                            </p>
                            <p>
                                Domiciliary made me realize that we were never just health workers trying to help our clients, or
                                just students trying to earn a degree! We became family friends; we became health models to many in
                                the community.
                            </p>
                            <p>
                                “My neighbour says that when she delivers, she would wish to find the other students in white in
                                maternity. They care so much for pregnant women!” A comment from a mother – my third case! This
                                brought me to realize that what we are doing isn't just a practice of midwifery; we are changing the
                                public opinion about midwives and nurses in this town. And I believe, eventually the entire
                                country’s opinion will change too.
                            </p>
                            <p>
                                For the CampusWeekly, I am Aron Eryau, wishing you the very best in all your endeavors! Stay tuned
                                in for more.
                            </p>


                        
                    </div>                
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>