<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h3 style="text-align: center;">THEY ARE BACK!</h3>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/baby.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-edit"></i> Story by The Editor
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>
                    <div class="row padding">
                    
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">I</span>
                                would understand why to many out there, this would most probably seem like a normal occurrence.
                                But hey, to me, it is nothing of the sort. I have got this loud neighbour. Always too joyful; makes
                                the entire block vibrate with noise, she’s been a real pain.
                            </p>
                            <p>
                                But for the last couple of weeks, I felt a void; something was lacking, someone was missing! Hey,
                                don’t get me wrong; I do have other neighbours. But for close to an entire month, I have been bored
                                as hell. Till just recently! So, when I say they are back, I pretty much really mean it.
                            </p>

                            <p>
                                Leaving on Monday, 22nd February, 2021, dispatched to various hospitals in the region, the present
                                day year two midwifery students completed their first internship program with the first lot
                                reporting back to campus on Friday, 19th March, 2021.
                            </p>
                            <p>
                                The CampusWeekly™ lens happened to be in the vicinity of some of these extremely happy-to-be-back
                                members of the health community. Preferring anonymity, the jubilant midwives-to-be interviewed
                                narrated their experiences to our reporters.
                            </p>
                            <p>
                                “The Bachelor’s degree in Nursing and Midwifery is well known for its interestingly unique
                                internship program structure. After their semester two, during the recess term, the previously year
                                one students are dispatched to different hospitals for their internship field placements.
                            </p>
                            <p>
                                This basically involves and is aimed at students getting well acquainted with handling and managing
                                patients in the various hospital departments,” an authority in the subject, a year four student of
                                BSc. Nursing and Midwifery explained to one of our reporters.
                            </p>
                            <p>
                                “These year-one interns don’t really touch the pregnant women when it comes to child birth. They
                                usually go as far as antenatal care; and by any luck, attend the procedures in the ward but only in
                                observation mode, not operating on the mothers.
                            </p>
                    
                            <p>
                                It is also during this internship that the students learn about the professional code of conduct.
                                They observe and learn about the level of professionalism expected of a health worker. The molarity
                                and disciplinary boundaries expected to be observed by any medical personnel are all learnt during
                                this period. This is because strictly speaking, no one is ever going teach them any of that in
                                theory.”
                            </p>
                            <p>
                                Broken down into groups, the students were sent to different hospitals including; Lira Regional
                                Referral Hospital, Lira University hospital, Health Centres III and IV which included Oguru,
                                Alebtong, Dokolo, Orum, Aduku, Anyeke, Aboke And Amach.
                            </p>
                            <p>
                                The interns we talked to mentioned challenges like the language barrier for some of the students who
                                didn’t speak the native language of the patients they were treating. Being in a new environment,
                                some didn’t find the facilities of the places they were assigned to very appealing.
                            </p>
                            <p>
                                In a way, the internship training opened the eyes of these midwives-to-be; to see that saving lives,
                                which is the job, is sometimes going to be needed even in the not exactly very appealing of places.
                                With the real life scenario lessons that our very good friends received during the field placement,
                                many of them have appreciated the chance to be a part of the team of soldiers saving lives all
                                around the country.
                            </p>
                            <p>
                                For more coverage on the internship packages in midwifery and other courses offered at campus,
                                please stay tuned in. I am Lukenge Benard, with Campus News 101, reporting for the CampusWeekly™.
                                Have a blessed week.
                            </p>
                            <p>
                                &copy;LUKARD
                            </p>
                        
                    </div>                  
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>