<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <h1 style="text-align: center;">TIED AND READY – THE MONEY’S HERE</h1>
                    <div style="margin-bottom: 10px;">
                        <img class="d-block w-100" src="images/deanmoney.jpg" alt="First slide">
                        <div style="margin-top: 15px;">
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                    </div>

                    <div class="row padding">
                    
                            <h5 style="font-weight: bold;">THE MONEY'S HERE! </h5>
                            <img class="img-fluid" src="images/payday1.jpg" alt="image" style="">
                            <p>
                                <span style="float: left;  font-size: 500%; line-height: 90%;">7</span>20,000 digits. At exactly 4:20pm! Not a second later! The notifications were already spreading the happiness, all around. The Dean Of Students came through. As promised, the digits have been making their way throughout the Students’ Bank Accounts this entire evening.
                            </p>
                            <p>
                                And you thought you had enough reasons to call this semester odd? No, my friend, you have just been given another one. This semester will mark as the first ever semester for students to receive full government packages for two semesters all in one semester. 
                            </p>

                            <p>
                                If it has ever happened, then for this campus, this is the first of its kind. As the communication had been earlier on, this second sum of the “living-out allowance” is to help the government sponsored students through semester two.
                            </p>
                            <p>
                                It should therefore be used “sparingly” for the obvious reasons. Our sources have us informed that this entire arrangement was due to the fact that we are almost coming to the end of the financial year. 
                            </p>
                            <p>
                                “In that light therefore; the university decided to cash out the living-out allowance to government sponsored students in anticipation that the money would bounce back to the Treasury(BOU), if left unused!”
                            </p>
                            


                            <p>
                            This definitely creates some more inspired questions but I’m willing to only ask this one at the moment, “What’s with all the flu everywhere?” Maybe my circle is very small. Because it’s like almost everyone I know has or knows someone with flu.
                            </p>
                            <img class="img-fluid" src="images/sneeze.jpg" alt="image" style="">
                    
                            <p>
                            I got in touch with the Kampala crew; and the story sounds just about the same. It would be no surprise waking up tomorrow sneezing. No surprise at all!
                            </p>
                            <p>
                                Plus, examinations are coming in, less than two weeks from now. With this kind of sneezing, there’s really no assurance that the ‘A’ will sit on those transcripts. You can’t write a complete sentence while checking for the residence of your handkerchief in your pocket’s vicinity.
                            </p>
                            <img class="img-fluid" src="images/kidsneeze.jpg" alt="image" style="">
                            <p>
                                I really wouldn’t call it a bad call if everyone ran out and got themselves a flu-shot. Other than that, my brothers and sisters, mzee already swore in. The Future is secured!
                            </p>
                            <img class="img-fluid" src="images/museveni-swearing-in-data.jpg" alt="image" style="">
                            <p>
                                <br>
                                For the Complete Story, from The Independent
                                <a href="https://www.independent.co.ug/live-president-museveni-6th-term-swearing-in/" target="_blank"
                                    class="btn btn-outline-primary">Click to Read More
                                </a>
                                <br><br>
                                And on YouTube
                                <a href="https://www.youtube.com/watch?v=Ntb-t-gQMpg" target="_blank"
                                    class="btn btn-outline-primary">Swearing-in Ceremony
                                </a>
                                <br><br>
                                &copy;LUKARD
                            </p>
                           
                            
                           
                            

                        
                    </div>              
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>