    {{> inspiration }}
    <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">INSPIRATION</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--CLIMATE CHANGE ACTIVISM AT LIRA UNIVERSITY (LU)-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">July 12, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/seraCC2.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">CLIMATE CHANGE ACTIVISM AT LIRA UNIVERSITY (LU)</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Kwerit Sarah Chebijirah
                                </span>
                                <img class="img-fluid" src="images/sera1.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                “In case the world fails to step up climate action, continuing on our current climate trajectory could force 100 million people into extreme poverty by 2030. Africa is the most-exposed region to the adverse effects of climate change despite contributing the least to global warming. If fairness was the only goal, the impetus to act would lie solely with developed economies.”

                                &nbsp;
                                ...
                                <a href="/climate-change" class="btn btn-outline-primary">Read more</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--MY DECISION TO STUDY PSYCHOLOGY AT LIRA UNIVERSITY-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">May 28, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/sera.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">MY DECISION TO STUDY PSYCHOLOGY AT LIRA UNIVERSITY </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Kwerit Sarah Chebijirah
                                </span>
                                <img class="img-fluid" src="images/sera1.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                The world is made up of 7 billion people with the power to make or break society, therefore, the 
                                most important topic area you could ever study is these people. When someone asks me what 
                                Psychology is I tell them it is the science of the most complex machine on this planet, the mind. 
                                The complexity and the mystery which enshrouds the human mind has always appealed me.

                                &nbsp;
                                ...
                                <a href="/my-decision" class="btn btn-outline-primary">Read more</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--CHECK ON YOUR FRIENDS-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">May 12, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/please.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">CHECK ON YOUR FRIENDS </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Aron Eryau
                                </span>
                                <img class="img-fluid" src="images/aa.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                We live in a world where there is endless scrolling, typing, likes and emoji. Communication has been
                                made easy, life is so much better with twitter, Facebook, Instagram filters and so on. People rarely
                                use pen and paper to write to lovers anymore; which I think is kind of old school and romantic, but
                                the truth is we never really bond anymore.
                                &nbsp;
                                ...
                                <a href="/check-on-your-friends" class="btn btn-outline-primary">Read more</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--MENTAL HEALTH AWARENESS-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">April 21, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/mental.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">MENTAL HEALTH AWARENESS </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Ocen Daniel Comboni
                                </span>
                                <img class="img-fluid" src="images/comboni2.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                World Health Organization defines mental health as a state of physical and psychological wellbeing
                                of an individual. Therefore Health, “is a state of complete physical, mental and social well-being!
                                Not merely the absence of disease or infirmity."
                                &nbsp;
                                ...
                                <a href="/mental-health-awareness" class="btn btn-outline-primary">Read more</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--LACK OF MONEY IS THE ROOT OF ALL EVIL-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">April 19, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/lackmoney.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">LACK OF MONEY IS THE ROOT OF ALL EVIL </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Ocepa Amos
                                </span>
                                <img class="img-fluid" src="images/amos2.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                “Life is hard. Life has become hard one of these days. The world has become too small for me.” These
                                are some of the wordings that fill both teenage and adult conversations most if not all the time.
                                But has it ever occurred to you
                                to get deep down into the heart of the matter?
                                &nbsp;
                                ...
                                <a href="/money" class="btn btn-outline-primary">Read more</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--HOW MUCH ARE WE DOING AS STUDENT MIDWIVES-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">< April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/inspiration2.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">HOW MUCH ARE WE DOING AS STUDENT MIDWIVES </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by Aron Eryau
                                </span>
                                <img class="img-fluid" src="images/aa.jpg" alt="image"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                What can I say? You know that little excitement that you get once you’ve just tweeted or posted a
                                photo on Facebook, and many people liked it! Well yeah, that's the exact kind of high I get every
                                time a patient says thank you, you were so helpful.
                                &nbsp;
                                ...
                                <a href="/student-midwives" class="btn btn-outline-primary">Read more</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

   