    {{> internship }}
    <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">INTERNSHIP</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MIDWIFERY INTERNSHIP-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">< April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/midwifery.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">MIDWIFERY INTERNSHIP</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                “In Uganda, midwives have been traditionally prepared mainly to perform the role of subordinates to
                                the doctors. The Bachelor of Science in Midwifery program is to elevate midwifery to an educational
                                level that prepares midwives to exercise critical thinking and judgement in the provision of
                                comprehensive and integrated reproductive health practice, as well as community-based health care.
                                ...
                                <a href="/midwifery-internship" class="btn btn-outline-primary">Read more</a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
