   {{> interview }}
   <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">INTERVIEWS</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Interview With The Deputy National Coordinator, Debate Presidents Council-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">June 25, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/binepe.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">Interview With The Deputy National Coordinator, Debate Presidents Council</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                
                                This week in an interview with Mr. Binepe Lhwanzo Bwambale, the newly elected Deputy National Coordinator, we bring to you a look at the Uganda University Debate Presidents Council and a quick peek through the guest’s rather interesting leadership journey.
                                &nbsp;
                                ...
                                <a href="/interview-with-mr-bwambale" class="btn btn-outline-primary">Read more</a>
                            
                                
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Interview with LDC Guild President-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">< April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/smith-1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">Interview with LDC Guild President</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                Having any doubts on whether leadership and good looks have any intersection whatsoever? I'm quite
                                sure you just haven't met H. E Rutebemberwa Smith! The cutest man from the land of Ankole currently
                                residing over a team of eight Guild officials leading an entire intake of close to three hundred and
                                fifteen 2020/2021 lawyers.
                            </p>
                            <p class="card-text">
                                The Law Development Centre opening its third branch at Lira Campus, the first and second being
                                Kampala Main Branch and Mbarara, brings with it a new feel and style to the air the campus has been
                                used to. Yes, the full time high standard taste in attire is not an attribute shared only by Mr.
                                Smith. No, my friend, the university just got itself three hundred and fifteen recruits pulling off
                                a completely new swag for the campus.
                                <br> 
                                ...
                                <br>
                                <a href="/ldc-guild-president-interview" class="btn btn-outline-primary">Read more</a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

  