   {{> noticeboard }}
   <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">THE NOTICEBOARD</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--TIED AND READY – THE MONEY’S HERE-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">May 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/payday1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TIED AND READY – THE MONEY’S HERE</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                720,000 digits. At exactly 4:20pm! Not a second later! The notifications were already spreading the happiness, all around. The Dean Of Students came through. As promised, the digits have been making their way throughout the Students’ Bank Accounts this entire evening.
                                &nbsp;
                                ...
                                <a href="/tied-and-ready" class="btn btn-outline-primary">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--TO ALL GOVERNMENT SPONSORED STUDENTS-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">May 16, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col">
                            <h3 style="text-align: center;" class="card-title">TO ALL GOVERNMENT SPONSORED STUDENTS </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                        </div>
                        <div class="row padding">
                            <div class="col-lg-4">
                                <img class="img-fluid card-img" src="images/dean.jpg" alt="image" style="">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="container">
                                    <div class="row padding">
                                        <div class="col-lg-6">
                                            <p>
                                                I hope this finds you well and good.
                                            </p>
                                            <h6 style="font-weight: bold;">INFORMATION FROM THE DEAN OF STUDENTS</h6>
                                            <p>
                                                Please note that your living out allowance payment for next semester (Sem 2) was initiated on Friday, 14th May, 2021.
                                            </p>
                                            <p>
                                                To that end therefore; you will be receiving a payment notification from your respectful banks any time from now.
                                            </p>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <p>
                                                This means that the allowance for next semester is also going to be availed this semester. 
                                                <br><br>
                                                You are thereby requested to use that money sparingly; just as earlier requested, through the Communication hosted on the noticeboards by the Dean’s Office.
                                            </p>
                                            <p>
                                                Kind regards, <br> Charles Chosen Muyingo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!--LDC GUILD AND STUDENTS' COUNCIL SWEARING IN-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">April 22, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/swear.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">LDC GUILD AND STUDENTS' COUNCIL SWEARING IN </h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                Happening on Wednesday, 21st April, 2020 at the Lira University Teaching Hospital Grounds.
                                &nbsp;
                                <br>
                                ...
                            </p>
                            <p class="card-text">

                                <a href="/LDC-guild-swearing-in" class="btn btn-outline-primary">Editorial in Pictures</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--SHE WON!-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">April 19, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/liz1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">SHE WON!</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                With 65 votes, Ms. Nabakooza Elizabeth beat Mr. Bitarinsha Yoramu who had 59 votes; making two
                                significant records! She became the first ever female Chief Fresher and the first ever Chief Fresher
                                from Buganda.

                            </p>
                            <p class="card-text">
                                ...
                                <a href="/she-won" class="btn btn-outline-primary">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--THE CHIEF FRESHERS’ DEBATE!-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/debate2.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">THE CHIEF FRESHERS’ DEBATE!</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                Happening on Friday, 16th April, 2021 just two days to the Elections day, Sunday, 18th April, 2021;
                                the Chief Freshers’ Debate was organized by the Lira University Debate Society in partnership with
                                the African Youth Leadership Forum (AYLF) – Lira University Chapter.
                                &nbsp;
                                ...
                                <a href="/chief-fresher-debate" class="btn btn-outline-primary">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--LIRA UNIVERSITY 2ND GRADUATION CEREMONY-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">< April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/graduation1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">LIRA UNIVERSITY 2ND GRADUATION CEREMONY</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                Friday, 9th April, 2021 joyfully marked it's signifance in the history books as the date the second
                                graduation ceremony of Lira University was held. The first graduation already holding its position
                                in the dates of another Friday, the 1st November, 2019.


                            </p>
                            <p class="card-text">
                                ...
                                <a href="/graduation" class="btn btn-outline-primary">Read more</a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--THE DEBATE SOCIETY-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">< April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/debate2.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">THE DEBATE SOCIETY</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story by The Editor
                                </span>
                                <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                You haven’t lived till you have attended one of the intellectual discussions held by the debate
                                society of Lira University. You just haven’t! I was invited to one of these sessions and I tell you
                                right here right now, my friends, the experience I got was unprecedented! It was the best feeling,
                                being in the same room with such great minds.
                                <br>
                                ...
                                <a href="/lifestyle" class="btn btn-outline-primary">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--BREAKING NEWS-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">< April 18, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/uganda-currency.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">BREAKING NEWS</h3>

                            <p class="card-text">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It’s here! It finally is! You have used
                                that borrowed pen for quite a
                                while now! You have shied away
                                from even stepping inside Mr Muwonge’s YammieShoppers Supermarket, for long.
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It’s high time. Yes, I’m talking to the
                                government student who’s been
                                praying for a drop of water in
                                this drought, that has no borders, reaching far deep inside the pockets.
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today, the 25th March, 2021, at about
                                5:30 pm, the phones belonging to
                                the
                                government students
                                all
                                beeped at the same time as they were finally rescued from the anticipation.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

 