   {{> uncensored }}
   <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">UNCENSORED</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--I AM NOT FINE-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">July 02, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/lukard_logo.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">I AM NOT FINE</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story From
                                    <a href="https://adventuresoflukard.herokuapp.com" target="_blank"
                                        style="text-decoration: none; ">Lukard Adventures</a>
                                </span>
                                <img class="img-fluid" src="images/lukardlogo.jpg" alt="lukard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                Do not let my show fool you. Please don’t! I am not fine. I know I am supposed to be alright; but I am not. I am very much afraid to tell anyone either because I pretty much do not want to make anyone uncomfortable.
                                &nbsp;
                                ...
                                <a href="https://adventuresoflukard.herokuapp.com/fine" class="btn btn-outline-primary">Read more</a>
                                
                                
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--POWERLESS-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">July 02, 2021</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#sign-out"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a>
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/lukard_logo.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">POWERLESS</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between">
                                <span>
                                    <i class="fa fa-edit"></i> Story From
                                    <a href="https://adventuresoflukard.herokuapp.com" target="_blank"
                                        style="text-decoration: none; ">Lukard Adventures</a>
                                </span>
                                <img class="img-fluid" src="images/lukardlogo.jpg" alt="lukard"
                                    style="width: 40px; margin-top: -15px; border-radius: 100%;">
                            </h6>
                            <p class="card-text">
                                Some days are not exactly that great – at campus! Yeah, to be fair, most of them are fun; I mean for
                                those at campus or gone through campus you know what I am talking about. Every class you take is
                                your very own decision.
                                &nbsp;
                                ...
                                <a href="/powerless" class="btn btn-outline-primary">Read more</a>
                                
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


